h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

.row + .row {
  margin-top: 1.5rem;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.nav-tabs {
  background-color: #38383a;
  border-bottom: 2px solid transparent;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  border-width: 0;
  background-color: transparent !important;
}

.nav-tabs > li > a {
  border: none;
  color: #666;
  font-size: 1.6rem;
  font-family: 'FrizQuadrataRegular';
}

.nav-tabs > li.active > a,
.nav-tabs > li > a:hover {
  border: none;
  color: #f49e3f !important;
  background: transparent;
}

.nav-tabs > li > a::after {
  content: "";
  background: #f49e3f;
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: -1px;
  transition: all 250ms ease 0s;
  transform: scale(0);
}

.nav-tabs > li.active > a::after,
.nav-tabs > li:hover > a::after {
  transform: scale(1);
}

.tab-nav > li > a::after {
  background: #21527d none repeat scroll 0% 0%;
  color: #fff;
}

.tab-pane {
  padding: 15px 0;
}

/* Auto */
.my-width-auto {
  width: auto;
}

/* Expand */
.my-width-expand {
  width: 1px;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  min-width: 0;
  flex-basis: 1px;
}

@media (min-width: 480px) {
  /* Auto */
  .my-width-auto-s {
    width: auto;
  }
  /* Expand */
  .my-width-expand-s {
    width: 1px;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
    flex-basis: 1px;
  }
}

@media (min-width: 768px) {
  /* Auto */
  .my-width-auto-m {
    width: auto;
  }
  /* Expand */
  .my-width-expand-m {
    width: 1px;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
    flex-basis: 1px;
  }
}

@media (min-width: 960px) {
  /* Auto */
  .my-width-auto-l {
    width: auto;
  }
  /* Expand */
  .my-width-expand-l {
    width: 1px;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
    flex-basis: 1px;
  }
}

@media (min-width: 1220px) {
  /* Auto */
  .my-width-auto-xl {
    width: auto;
  }
  /* Expand */
  .my-width-expand-xl {
    width: 1px;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
    flex-basis: 1px;
  }
}

/* ========================================================================
   Component: Grid
 ========================================================================== */
/*
 * 1. Makes grid more robust so that it can be used with other block elements like lists
 */
.my-grid {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  /* 1 */
  margin: 0;
  padding: 0;
  list-style: none;
}

/*
 * DEPRECATED
 * Micro clearfix
 * Can't use `table` because it creates a 1px gap when it becomes a flex item, only in Webkit
 */
.my-grid:before,
.my-grid:after {
  content: "";
  display: block;
  overflow: hidden;
}

.my-grid:after {
  clear: both;
}

/*
 * Grid cell
 * 1. Space is allocated solely based on content dimensions
 * 2. Makes grid more robust so that it can be used with other block elements
 * 3. DEPRECATED Using `float` to support IE9
 */
.my-grid > * {
  /* 1 */
  -ms-flex: none;
  -webkit-flex: none;
  flex: none;
  /* 2 */
  margin: 0;
  /* 3 */
  float: left;
}

/*
 * Remove margin from the last-child
 */
.my-grid > * > :last-child {
  margin-bottom: 0;
}

/* Grid gutter
 ========================================================================== */
/*
 * Default gutter
 */
/* Horizontal */
.my-grid {
  margin-left: -25px;
}

.my-grid > * {
  padding-left: 25px;
}

/* Vertical */
.my-grid + .my-grid,
.my-grid-margin,
.my-grid > * > .my-panel + .my-panel {
  margin-top: 25px;
}

/* Large screen and bigger */
@media (min-width: 1220px) {
  /* Horizontal */
  .my-grid {
    margin-left: -35px;
  }
  .my-grid > * {
    padding-left: 35px;
  }
  /* Vertical */
  .my-grid + .my-grid,
  .my-grid-margin,
  .my-grid > * > .my-panel + .my-panel {
    margin-top: 35px;
  }
}

/*
 * Collapse gutter
 */
/* Horizontal */
.my-grid-collapse {
  margin-left: 0;
}

.my-grid-collapse > * {
  padding-left: 0;
}

/* Vertical */
.my-grid-collapse + .my-grid-collapse,
.my-grid-collapse > .my-grid-margin,
.my-grid-collapse > * > .my-panel + .my-panel {
  margin-top: 0;
}

/*
 * Small gutter
 */
/* Horizontal */
.my-grid-small {
  margin-left: -10px;
}

.my-grid-small > * {
  padding-left: 10px;
}

/* Vertical */
.my-grid-small + .my-grid-small,
.my-grid-small > .my-grid-margin,
.my-grid-small > * > .my-panel + .my-panel {
  margin-top: 10px;
}

/*
 * Medium gutter
 */
/* Horizontal */
.my-grid-medium {
  margin-left: -25px;
}

.my-grid-medium > * {
  padding-left: 25px;
}

/* Vertical */
.my-grid-medium + .my-grid-medium,
.my-grid-medium > .my-grid-margin,
.my-grid-medium > * > .my-panel + .my-panel {
  margin-top: 25px;
}

/*
 * Large gutter
 */
/* Large screen and bigger */
@media (min-width: 960px) {
  /* Horizontal */
  .my-grid-large {
    margin-left: -35px;
  }
  .my-grid-large > * {
    padding-left: 35px;
  }
  /* Vertical */
  .my-grid-large + .my-grid-large,
  .my-grid-large-margin,
  .my-grid-large > * > .my-panel + .my-panel {
    margin-top: 35px;
  }
}

/* Extra Large screens */
@media (min-width: 1220px) {
  /* Horizontal */
  .my-grid-large {
    margin-left: -50px;
  }
  .my-grid-large > * {
    padding-left: 50px;
  }
  /* Vertical */
  .my-grid-large + .my-grid-large,
  .my-grid-large-margin,
  .my-grid-large > * > .my-panel + .my-panel {
    margin-top: 50px;
  }
}

/* Modifier: `my-grid-divider`
 ========================================================================== */
/*
 * Horizontal divider
 * Only works with the default gutter. Does not work with gutter collapse, small or large.
 * Does not work with `my-push-*`, `my-pull-*` and not if the columns float into the next row.
 */
.my-grid-divider:not(:empty) {
  margin-left: -25px;
  margin-right: -25px;
}
.my-grid-divider > * {
  padding-left: 25px;
  padding-right: 25px;
}
.my-grid-divider > [class*='my-width-1-']:not(.my-width-1-1):nth-child(n+2),
.my-grid-divider > [class*='my-width-2-']:nth-child(n+2),
.my-grid-divider > [class*='my-width-3-']:nth-child(n+2),
.my-grid-divider > [class*='my-width-4-']:nth-child(n+2),
.my-grid-divider > [class*='my-width-5-']:nth-child(n+2),
.my-grid-divider > [class*='my-width-6-']:nth-child(n+2),
.my-grid-divider > [class*='my-width-7-']:nth-child(n+2),
.my-grid-divider > [class*='my-width-8-']:nth-child(n+2),
.my-grid-divider > [class*='my-width-9-']:nth-child(n+2) {
  border-left: 1px solid #ddd;
}
/* Tablet and bigger */
@media (min-width: 768px) {
  .my-grid-divider > [class*='my-width-medium-']:not(.my-width-medium-1-1):nth-child(n+2) {
    border-left: 1px solid #ddd;
  }
}
/* Desktop and bigger */
@media (min-width: 960px) {
  .my-grid-divider > [class*='my-width-large-']:not(.my-width-large-1-1):nth-child(n+2) {
    border-left: 1px solid #ddd;
  }
}
/* Large screen and bigger */
@media (min-width: 1220px) {
  /*
     * Large gutter
     */
  .my-grid-divider:not(:empty) {
    margin-left: -35px;
    margin-right: -35px;
  }
  .my-grid-divider > * {
    padding-left: 35px;
    padding-right: 35px;
  }
  .my-grid-divider:empty {
    margin-top: 35px;
    margin-bottom: 35px;
  }
}
/*
 * Vertical divider
 */
.my-grid-divider:empty {
  margin-top: 25px;
  margin-bottom: 25px;
  border-top: 1px solid #ddd;
}

/* Match panels in grids
 ========================================================================== */
/*
 * 1. Behave like a block element
 */
.my-grid-match > * {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /* 1 */
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.my-grid-match > * > * {
  /* 1 */
  -ms-flex: none;
  -webkit-flex: none;
  flex: none;
  box-sizing: border-box;
  width: 100%;
}
/* Even grid cell widths
 ========================================================================== */
[class*='my-grid-width'] > * {
  box-sizing: border-box;
  width: 100%;
}
.my-grid-width-1-2 > * {
  width: 50%;
}
.my-grid-width-1-3 > * {
  width: 33.333%;
}
.my-grid-width-1-4 > * {
  width: 25%;
}
.my-grid-width-1-5 > * {
  width: 20%;
}
.my-grid-width-1-6 > * {
  width: 16.666%;
}
.my-grid-width-1-10 > * {
  width: 10%;
}
.my-grid-width-auto > * {
  width: auto;
}
/* Phone landscape and bigger */
@media (min-width: 480px) {
  .my-grid-width-small-1-1 > * {
    width: 100%;
  }
  .my-grid-width-small-1-2 > * {
    width: 50%;
  }
  .my-grid-width-small-1-3 > * {
    width: 33.333%;
  }
  .my-grid-width-small-1-4 > * {
    width: 25%;
  }
  .my-grid-width-small-1-5 > * {
    width: 20%;
  }
  .my-grid-width-small-1-6 > * {
    width: 16.666%;
  }
  .my-grid-width-small-1-10 > * {
    width: 10%;
  }
}
/* Tablet and bigger */
@media (min-width: 768px) {
  .my-grid-width-medium-1-1 > * {
    width: 100%;
  }
  .my-grid-width-medium-1-2 > * {
    width: 50%;
  }
  .my-grid-width-medium-1-3 > * {
    width: 33.333%;
  }
  .my-grid-width-medium-1-4 > * {
    width: 25%;
  }
  .my-grid-width-medium-1-5 > * {
    width: 20%;
  }
  .my-grid-width-medium-1-6 > * {
    width: 16.666%;
  }
  .my-grid-width-medium-1-10 > * {
    width: 10%;
  }
}
/* Desktop and bigger */
@media (min-width: 960px) {
  .my-grid-width-large-1-1 > * {
    width: 100%;
  }
  .my-grid-width-large-1-2 > * {
    width: 50%;
  }
  .my-grid-width-large-1-3 > * {
    width: 33.333%;
  }
  .my-grid-width-large-1-4 > * {
    width: 25%;
  }
  .my-grid-width-large-1-5 > * {
    width: 20%;
  }
  .my-grid-width-large-1-6 > * {
    width: 16.666%;
  }
  .my-grid-width-large-1-10 > * {
    width: 10%;
  }
}
/* Large screen and bigger */
@media (min-width: 1220px) {
  .my-grid-width-xlarge-1-1 > * {
    width: 100%;
  }
  .my-grid-width-xlarge-1-2 > * {
    width: 50%;
  }
  .my-grid-width-xlarge-1-3 > * {
    width: 33.333%;
  }
  .my-grid-width-xlarge-1-4 > * {
    width: 25%;
  }
  .my-grid-width-xlarge-1-5 > * {
    width: 20%;
  }
  .my-grid-width-xlarge-1-6 > * {
    width: 16.666%;
  }
  .my-grid-width-xlarge-1-10 > * {
    width: 10%;
  }
}

/* ========================================================================
   Component: Subnav
 ========================================================================== */
/*
 * 1. Gutter
 * 2. Remove default list style
 */
.sub{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  /* 1 */
  margin-left: -10px;
  margin-top: -10px;
  /* 2 */
  padding: 0;
  list-style: none;
}
/*
 * 1. Space is allocated solely based on content dimensions
 * 2. Horizontal gutter is using `padding` so `my-width-*` classes can be applied
 * 3. Create position context for dropdowns
 */
.my-subnav > * {
  /* 1 */
  -ms-flex: none;
  -webkit-flex: none;
  flex: none;
  /* 2 */
  padding-left: 10px;
  margin-top: 10px;
  /* 3 */
  position: relative;
}
/*
 * DEPRECATED IE9 Support
 */
.my-subnav:before,
.my-subnav:after {
  content: "";
  display: block;
  overflow: hidden;
}
.my-subnav:after {
  clear: both;
}
.my-subnav > * {
  float: left;
}
/* Items
 ========================================================================== */
.my-subnav > * > * {
  display: inline-block;
  color: #444;
}
/*
 * Hover
 * 1. Apply hover style also to focus state
 */
.my-subnav > * > :hover,
.my-subnav > * > :focus {
  color: #07D;
  text-decoration: none;
}
/*
 * Active
 */
.my-subnav > .my-active > * {
  color: #07D;
}
/* Modifier: 'subnav-line'
 ========================================================================== */
.my-subnav-line > :before {
  content: "";
  display: inline-block;
  height: 10px;
  vertical-align: middle;
}
.my-subnav-line > :nth-child(n+2):before {
  margin-right: 10px;
  border-left: 1px solid #ddd;
}
/* Modifier: 'subnav-pill'
 ========================================================================== */
.my-subnav-pill > * > * {
  padding: 3px 9px;
}
/*
 * Hover
 * 1. Apply hover style also to focus state
 * 2. Remove default focus style
 */
.my-subnav-pill > * > :hover,
.my-subnav-pill > * > :focus {
  background: #eee;
  color: #444;
  text-decoration: none;
  /* 2 */
  outline: none;
}
/*
 * Active
 * `li` needed for higher specificity to override hover
 */
.my-subnav-pill > .my-active > * {
  background: #00a8e6;
  color: #fff;
}
/* Disabled state
 ========================================================================== */
.my-subnav > .my-disabled > * {
  background: none;
  color: #999;
  text-decoration: none;
  cursor: text;
}

/* ========================================================================
   Component: Flex
 ========================================================================== */
.my-flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.my-flex-inline {
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
}

/*
 * Fixes initial flex-shrink value in IE10
 */
.my-flex > *,
.my-flex-inline > * {
  -ms-flex-negative: 1;
}

/* Alignment
 ========================================================================== */
/*
 * Vertical alignment
 * Default value is `stretch`
 */
.my-flex-top {
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.my-flex-middle {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.my-flex-bottom {
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

/*
 * Horizontal alignment
 * Default value is `flex-start`
 */
.my-flex-center {
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.my-flex-right {
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.my-flex-space-between {
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.my-flex-space-around {
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

/* Direction
 ========================================================================== */
.my-flex-row-reverse {
  -ms-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.my-flex-column {
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.my-flex-column-reverse {
  -ms-flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

/* Wrap
 ========================================================================== */
.my-flex-nowrap {
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.my-flex-wrap {
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.my-flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
  -webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

/*
 * Horizontal alignment
 * Default value is `stretch`
 */
.my-flex-wrap-top {
  -ms-flex-line-pack: start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
}

.my-flex-wrap-middle {
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  align-content: center;
}

.my-flex-wrap-bottom {
  -ms-flex-line-pack: end;
  -webkit-align-content: flex-end;
  align-content: flex-end;
}

.my-flex-wrap-space-between {
  -ms-flex-line-pack: justify;
  -webkit-align-content: space-between;
  align-content: space-between;
}

.my-flex-wrap-space-around {
  -ms-flex-line-pack: distribute;
  -webkit-align-content: space-around;
  align-content: space-around;
}

/* Item ordering
 ========================================================================== */
/*
 * Default is 0
 */
.my-flex-order-first {
  -ms-flex-order: -1;
  -webkit-order: -1;
  order: -1;
}

.my-flex-order-last {
  -ms-flex-order: 99;
  -webkit-order: 99;
  order: 99;
}

/* Phone landscape and bigger */
@media (min-width: 480px) {
  .my-flex-order-first-small {
    -ms-flex-order: -1;
    -webkit-order: -1;
    order: -1;
  }
  .my-flex-order-last-small {
    -ms-flex-order: 99;
    -webkit-order: 99;
    order: 99;
  }
}

/* Tablet and bigger */
@media (min-width: 768px) {
  .my-flex-order-first-medium {
    -ms-flex-order: -1;
    -webkit-order: -1;
    order: -1;
  }
  .my-flex-order-last-medium {
    -ms-flex-order: 99;
    -webkit-order: 99;
    order: 99;
  }
}

/* Desktop and bigger */
@media (min-width: 960px) {
  .my-flex-order-first-large {
    -ms-flex-order: -1;
    -webkit-order: -1;
    order: -1;
  }
  .my-flex-order-last-large {
    -ms-flex-order: 99;
    -webkit-order: 99;
    order: 99;
  }
}

/* Large screen and bigger */
@media (min-width: 1220px) {
  .my-flex-order-first-xlarge {
    -ms-flex-order: -1;
    -webkit-order: -1;
    order: -1;
  }
  .my-flex-order-last-xlarge {
    -ms-flex-order: 99;
    -webkit-order: 99;
    order: 99;
  }
}

/* Item dimensions
 ========================================================================== */
/*
 * Initial: 0 1 auto
 * Content dimensions, but shrinks
 */
/*
 * No Flex: 0 0 auto
 * Content dimensions
 */
.my-flex-item-none {
  -ms-flex: none;
  -webkit-flex: none;
  flex: none;
}

/*
 * Relative Flex: 1 1 auto
 * Space is allocated considering content
 * 1. Fixes flex-shrink value in IE10
 */
.my-flex-item-auto {
  -ms-flex: auto;
  -webkit-flex: auto;
  flex: auto;
  /* 1 */
  -ms-flex-negative: 1;
}

/*
 * Absolute Flex: 1 1 0%
 * Space is allocated solely based on flex
 */
.my-flex-item-1 {
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}