@import "varialbles";
@import "mixins";
@import "helper";

@font-face {
  font-family: 'FrizQuadrataRegular';
  src: url('#{$path-fonts}/FrizQuadrataRegular.eot');
  src: url('#{$path-fonts}/FrizQuadrataRegular.eot?#iefix') format('embedded-opentype'),
  url('#{$path-fonts}/FrizQuadrataRegular.woff') format('woff'),
  url('#{$path-fonts}/FrizQuadrataRegular.ttf') format('truetype'),
  url('#{$path-fonts}/FrizQuadrataRegular.svg#FrizQuadrataRegular') format('svg');
  font-style: normal;
  font-weight: normal;
}

html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #242424;
  font-size: 1.4rem;
  font-size: 14px;
  color: #C2C2C2;
}

#header {
  .top {
    height: 30px;
    background-color: #0c162c;
    .nav-top {
      margin-top: -5px;
      margin-bottom: 0;
      & > li {
        & > a {
          color: #fff;
        }
      }
    }
  }

  .bot {
    background-color: #111f3e;
    .navbar {
      margin-bottom: 0;
      &.navbar-default {
        background-color: #111f3e;
        border-color: transparent;
      }
      .navbar-brand {
        position: relative;
        min-width: 315px;
        padding: 0;
        left: 0;
        .clan-logo {
          position: absolute;
          top: 50%;
          left: 0;
          @include transform(translateY(-50%));
        }
      }

      .nav {
        & > li {
          & > a {
            color: #fff;
            font-family: 'FrizQuadrataRegular';
          }
        }
        &.navbar-right {
          .btn-create-guide {
            background-color: #ebd083;
            color: #38383a;
            margin-right: 15px;
            &:hover {
              background-color: #ccb676;
            }
          }
        }
      }
    }
  }
}

#main {
  margin-top: 4rem;
}

.hero-img {
  position: relative;
  margin-bottom: 4rem;
  .name {
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    font-family: 'FrizQuadrataRegular', sans-serif;
    span {
      font-size: 2rem;
    }
  }
}

.skill-item {
  margin-top: 20px;
  border-bottom: 1px solid #383938;
  padding-bottom: 20px;
  .content {
    h3 {
      margin: 0;
      text-transform: uppercase;
      font-size: 1.8rem;
      color: #fff;
    }
    h4 {
      font-size: 1.6rem;
      color: #fff;
      text-transform: capitalize;
    }
  }
  .desc {
    span {
      &.green {
        color: #98e281;
      }
      &.blue {
        color: deepskyblue;
      }
    }
  }
}

.wrap-guide-builder {
  margin-top: 4rem;
}

.guide-builder {
  *:focus {
    outline: none;
  }
}

.title-input {
  height: 40px;
  background-color: #000;
  color: #959595;
  width: 100%;
  border: 0;
  padding-left: 10px;
}

.title-page {
  margin-bottom: 3rem;
}

.material-input {
  background-color: #242424;
  border-top: none;
  border-right: none;
  border-left: none;
  padding-left: 0;
  padding-right: 0;
  @include border-radius(0);
  &:focus {
    outline: none;
    @include box-shadow(none);
  }
}

.wrap-login-register {
  .box {
    max-width: 70%;
    margin: 0 auto;
    .title {
      color: #ebd083;
    }
  }
}

.form-register-login {
  .form-group {
    margin-bottom: 3rem;
  }
}

.blog-item{
  font-family: 'FrizQuadrataRegular';
  border-bottom: 1px solid #626262;
  padding: 15px 0;
  .blog-item-img{
    border: 1px solid #ebd083;
  }

  .blog-item-content{
    .title{
      font-size: 2rem;
      font-family: 'FrizQuadrataRegular';
      margin-top: 0;
      margin-bottom: 2rem;
      a{
        color: #ebd083;
        text-decoration: none;
      }
    }
  }

  &:last-of-type{
    border-bottom: none;
  }
}

.tab-have-search{
  position: relative;
  .search{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 200px;

    .fa-search{
      position: absolute;
      right: 0;
      top: 5px;
    }

    .input-search{
      width: 100%;
      background-color: #38383a;
      border-top: none;
      border-right: none;
      border-left: none;
      padding-left: 0;
      padding-right: 20px;
      @include border-radius(0);
      &:focus {
        outline: none;
        @include box-shadow(none);
      }
    }
  }
}

