.mt-30{
  margin-top: 3rem !important;
}

.txt-white{
  color: #fff;
}

.btn-immerse{
  &:focus{
    outline: none;
  }
  @include border-radius(17px);
  @include transition(all .2s ease-in-out);
}

.btn-immerse-blank{
  @extend .btn-immerse;
  color: #46b8da;
  background: transparent;
}

.btn-immerse-blank-white{
  @extend .btn-immerse;
  color: #fff;
  border-color: #fff;
  background: transparent;
  &:hover,&:focus,&:active{
    color: #46b8da;
    border-color: #fff;
    background-color: #fff;
  }
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


/* Auto */
.my-width-auto {
  width: auto;
}
/* Expand */
.my-width-expand {
  width: 1px;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  min-width: 0;
  flex-basis: 1px;
}

@media (min-width: 480px) {
  /* Auto */
  .my-width-auto-s {
    width: auto;
  }
  /* Expand */
  .my-width-expand-s {
    width: 1px;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
    flex-basis: 1px;
  }
}

@media (min-width: 768px) {
  /* Auto */
  .my-width-auto-m {
    width: auto;
  }
  /* Expand */
  .my-width-expand-m {
    width: 1px;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
    flex-basis: 1px;
  }
}

@media (min-width: 960px) {
  /* Auto */
  .my-width-auto-l {
    width: auto;
  }
  /* Expand */
  .my-width-expand-l {
    width: 1px;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
    flex-basis: 1px;
  }
}

@media (min-width: 1220px) {
  /* Auto */
  .my-width-auto-xl {
    width: auto;
  }
  /* Expand */
  .my-width-expand-xl {
    width: 1px;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
    flex-basis: 1px;
  }
}