html{
  font-family:sans-serif;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%
}
body{
  margin:0
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{
  display:block
}
audio,canvas,progress,video{
  display:inline-block;
  vertical-align:baseline
}
audio:not([controls]){
  display:none;
  height:0
}
[hidden],template{
  display:none
}
a{
  background-color:transparent
}
a:active,a:hover{
  outline:0
}
abbr[title]{
  border-bottom:1px dotted
}
b,strong{
  font-weight:700
}
dfn{
  font-style:italic
}
h1{
  font-size:2em;
  margin:.67em 0
}
mark{
  background:#ff0;
  color:#000
}
small{
  font-size:80%
}
sub,sup{
  font-size:75%;
  line-height:0;
  position:relative;
  vertical-align:baseline
}
sup{
  top:-.5em
}
sub{
  bottom:-.25em
}
img{
  border:0
}
svg:not(:root){
  overflow:hidden
}
figure{
  margin:1em 40px
}
hr{
  -moz-box-sizing:content-box;
  box-sizing:content-box;
  height:0
}
pre{
  overflow:auto
}
code,kbd,pre,samp{
  font-family:monospace,monospace;
  font-size:1em
}
button,input,optgroup,select,textarea{
  color:inherit;
  font:inherit;
  margin:0
}
button{
  overflow:visible
}
button,select{
  text-transform:none
}
button,html input[type=button],input[type=reset],input[type=submit]{
  -webkit-appearance:button;
  cursor:pointer
}
button[disabled],html input[disabled]{
  cursor:default
}
button::-moz-focus-inner,input::-moz-focus-inner{
  border:0;
  padding:0
}
input{
  line-height:normal
}
input[type=checkbox],input[type=radio]{
  box-sizing:border-box;
  padding:0
}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{
  height:auto
}
input[type=search]{
  -webkit-appearance:textfield;
  -moz-box-sizing:content-box;
  -webkit-box-sizing:content-box;
  box-sizing:content-box
}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{
  -webkit-appearance:none
}
fieldset{
  border:1px solid silver;
  margin:0 2px;
  padding:.35em .625em .75em
}
legend{
  border:0;
  padding:0
}
textarea{
  overflow:auto
}
optgroup{
  font-weight:700
}
table{
  border-collapse:collapse;
  border-spacing:0
}
td,th{
  padding:0
}
.hidden,[hidden]{
  display:none !important
}
.pure-img{
  max-width:100%;
  height:auto;
  display:block
}
.pure-g{
  letter-spacing:-.31em;
  *letter-spacing:normal;
  *word-spacing:-.43em;
  text-rendering:optimizespeed;
  font-family:FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
  display:-webkit-flex;
  -webkit-flex-flow:row wrap;
  display:-ms-flexbox;
  -ms-flex-flow:row wrap;
  -ms-align-content:flex-start;
  -webkit-align-content:flex-start;
  align-content:flex-start
}
.opera-only :-o-prefocus,.pure-g{
  word-spacing:-.43em
}
.pure-u{
  display:inline-block;
  *display:inline;
  zoom:1;
  letter-spacing:normal;
  word-spacing:normal;
  vertical-align:top;
  text-rendering:auto
}
.pure-g [class*="pure-u"]{
  font-family:sans-serif
}
.pure-u-1,.pure-u-1-1,.pure-u-1-2,.pure-u-1-3,.pure-u-2-3,.pure-u-1-4,.pure-u-3-4,.pure-u-1-5,.pure-u-2-5,.pure-u-3-5,.pure-u-4-5,.pure-u-5-5,.pure-u-1-6,.pure-u-5-6,.pure-u-1-8,.pure-u-3-8,.pure-u-5-8,.pure-u-7-8,.pure-u-1-12,.pure-u-5-12,.pure-u-7-12,.pure-u-11-12,.pure-u-1-24,.pure-u-2-24,.pure-u-3-24,.pure-u-4-24,.pure-u-5-24,.pure-u-6-24,.pure-u-7-24,.pure-u-8-24,.pure-u-9-24,.pure-u-10-24,.pure-u-11-24,.pure-u-12-24,.pure-u-13-24,.pure-u-14-24,.pure-u-15-24,.pure-u-16-24,.pure-u-17-24,.pure-u-18-24,.pure-u-19-24,.pure-u-20-24,.pure-u-21-24,.pure-u-22-24,.pure-u-23-24,.pure-u-24-24{
  display:inline-block;
  *display:inline;
  zoom:1;
  letter-spacing:normal;
  word-spacing:normal;
  vertical-align:top;
  text-rendering:auto
}
.pure-u-1-24{
  width:4.1667%;
  *width:4.1357%
}
.pure-u-1-12,.pure-u-2-24{
  width:8.3333%;
  *width:8.3023%
}
.pure-u-1-8,.pure-u-3-24{
  width:12.5%;
  *width:12.469%
}
.pure-u-1-6,.pure-u-4-24{
  width:16.6667%;
  *width:16.6357%
}
.pure-u-1-5{
  width:20%;
  *width:19.969%
}
.pure-u-5-24{
  width:20.8333%;
  *width:20.8023%
}
.pure-u-1-4,.pure-u-6-24{
  width:25%;
  *width:24.969%
}
.pure-u-7-24{
  width:29.1667%;
  *width:29.1357%
}
.pure-u-1-3,.pure-u-8-24{
  width:33.3333%;
  *width:33.3023%
}
.pure-u-3-8,.pure-u-9-24{
  width:37.5%;
  *width:37.469%
}
.pure-u-2-5{
  width:40%;
  *width:39.969%
}
.pure-u-5-12,.pure-u-10-24{
  width:41.6667%;
  *width:41.6357%
}
.pure-u-11-24{
  width:45.8333%;
  *width:45.8023%
}
.pure-u-1-2,.pure-u-12-24{
  width:50%;
  *width:49.969%
}
.pure-u-13-24{
  width:54.1667%;
  *width:54.1357%
}
.pure-u-7-12,.pure-u-14-24{
  width:58.3333%;
  *width:58.3023%
}
.pure-u-3-5{
  width:60%;
  *width:59.969%
}
.pure-u-5-8,.pure-u-15-24{
  width:62.5%;
  *width:62.469%
}
.pure-u-2-3,.pure-u-16-24{
  width:66.6667%;
  *width:66.6357%
}
.pure-u-17-24{
  width:70.8333%;
  *width:70.8023%
}
.pure-u-3-4,.pure-u-18-24{
  width:75%;
  *width:74.969%
}
.pure-u-19-24{
  width:79.1667%;
  *width:79.1357%
}
.pure-u-4-5{
  width:80%;
  *width:79.969%
}
.pure-u-5-6,.pure-u-20-24{
  width:83.3333%;
  *width:83.3023%
}
.pure-u-7-8,.pure-u-21-24{
  width:87.5%;
  *width:87.469%
}
.pure-u-11-12,.pure-u-22-24{
  width:91.6667%;
  *width:91.6357%
}
.pure-u-23-24{
  width:95.8333%;
  *width:95.8023%
}
.pure-u-1,.pure-u-1-1,.pure-u-5-5,.pure-u-24-24{
  width:100%
}
@media screen and (min-width: 35.5em){
  .pure-u-sm-1,.pure-u-sm-1-1,.pure-u-sm-1-2,.pure-u-sm-1-3,.pure-u-sm-2-3,.pure-u-sm-1-4,.pure-u-sm-3-4,.pure-u-sm-1-5,.pure-u-sm-2-5,.pure-u-sm-3-5,.pure-u-sm-4-5,.pure-u-sm-5-5,.pure-u-sm-1-6,.pure-u-sm-5-6,.pure-u-sm-1-8,.pure-u-sm-3-8,.pure-u-sm-5-8,.pure-u-sm-7-8,.pure-u-sm-1-12,.pure-u-sm-5-12,.pure-u-sm-7-12,.pure-u-sm-11-12,.pure-u-sm-1-24,.pure-u-sm-2-24,.pure-u-sm-3-24,.pure-u-sm-4-24,.pure-u-sm-5-24,.pure-u-sm-6-24,.pure-u-sm-7-24,.pure-u-sm-8-24,.pure-u-sm-9-24,.pure-u-sm-10-24,.pure-u-sm-11-24,.pure-u-sm-12-24,.pure-u-sm-13-24,.pure-u-sm-14-24,.pure-u-sm-15-24,.pure-u-sm-16-24,.pure-u-sm-17-24,.pure-u-sm-18-24,.pure-u-sm-19-24,.pure-u-sm-20-24,.pure-u-sm-21-24,.pure-u-sm-22-24,.pure-u-sm-23-24,.pure-u-sm-24-24{
    display:inline-block;
    *display:inline;
    zoom:1;
    letter-spacing:normal;
    word-spacing:normal;
    vertical-align:top;
    text-rendering:auto
  }
  .pure-u-sm-1-24{
    width:4.1667%;
    *width:4.1357%
  }
  .pure-u-sm-1-12,.pure-u-sm-2-24{
    width:8.3333%;
    *width:8.3023%
  }
  .pure-u-sm-1-8,.pure-u-sm-3-24{
    width:12.5%;
    *width:12.469%
  }
  .pure-u-sm-1-6,.pure-u-sm-4-24{
    width:16.6667%;
    *width:16.6357%
  }
  .pure-u-sm-1-5{
    width:20%;
    *width:19.969%
  }
  .pure-u-sm-5-24{
    width:20.8333%;
    *width:20.8023%
  }
  .pure-u-sm-1-4,.pure-u-sm-6-24{
    width:25%;
    *width:24.969%
  }
  .pure-u-sm-7-24{
    width:29.1667%;
    *width:29.1357%
  }
  .pure-u-sm-1-3,.pure-u-sm-8-24{
    width:33.3333%;
    *width:33.3023%
  }
  .pure-u-sm-3-8,.pure-u-sm-9-24{
    width:37.5%;
    *width:37.469%
  }
  .pure-u-sm-2-5{
    width:40%;
    *width:39.969%
  }
  .pure-u-sm-5-12,.pure-u-sm-10-24{
    width:41.6667%;
    *width:41.6357%
  }
  .pure-u-sm-11-24{
    width:45.8333%;
    *width:45.8023%
  }
  .pure-u-sm-1-2,.pure-u-sm-12-24{
    width:50%;
    *width:49.969%
  }
  .pure-u-sm-13-24{
    width:54.1667%;
    *width:54.1357%
  }
  .pure-u-sm-7-12,.pure-u-sm-14-24{
    width:58.3333%;
    *width:58.3023%
  }
  .pure-u-sm-3-5{
    width:60%;
    *width:59.969%
  }
  .pure-u-sm-5-8,.pure-u-sm-15-24{
    width:62.5%;
    *width:62.469%
  }
  .pure-u-sm-2-3,.pure-u-sm-16-24{
    width:66.6667%;
    *width:66.6357%
  }
  .pure-u-sm-17-24{
    width:70.8333%;
    *width:70.8023%
  }
  .pure-u-sm-3-4,.pure-u-sm-18-24{
    width:75%;
    *width:74.969%
  }
  .pure-u-sm-19-24{
    width:79.1667%;
    *width:79.1357%
  }
  .pure-u-sm-4-5{
    width:80%;
    *width:79.969%
  }
  .pure-u-sm-5-6,.pure-u-sm-20-24{
    width:83.3333%;
    *width:83.3023%
  }
  .pure-u-sm-7-8,.pure-u-sm-21-24{
    width:87.5%;
    *width:87.469%
  }
  .pure-u-sm-11-12,.pure-u-sm-22-24{
    width:91.6667%;
    *width:91.6357%
  }
  .pure-u-sm-23-24{
    width:95.8333%;
    *width:95.8023%
  }
  .pure-u-sm-1,.pure-u-sm-1-1,.pure-u-sm-5-5,.pure-u-sm-24-24{
    width:100%
  }
}
@media screen and (min-width: 48em){
  .pure-u-md-1,.pure-u-md-1-1,.pure-u-md-1-2,.pure-u-md-1-3,.pure-u-md-2-3,.pure-u-md-1-4,.pure-u-md-3-4,.pure-u-md-1-5,.pure-u-md-2-5,.pure-u-md-3-5,.pure-u-md-4-5,.pure-u-md-5-5,.pure-u-md-1-6,.pure-u-md-5-6,.pure-u-md-1-8,.pure-u-md-3-8,.pure-u-md-5-8,.pure-u-md-7-8,.pure-u-md-1-12,.pure-u-md-5-12,.pure-u-md-7-12,.pure-u-md-11-12,.pure-u-md-1-24,.pure-u-md-2-24,.pure-u-md-3-24,.pure-u-md-4-24,.pure-u-md-5-24,.pure-u-md-6-24,.pure-u-md-7-24,.pure-u-md-8-24,.pure-u-md-9-24,.pure-u-md-10-24,.pure-u-md-11-24,.pure-u-md-12-24,.pure-u-md-13-24,.pure-u-md-14-24,.pure-u-md-15-24,.pure-u-md-16-24,.pure-u-md-17-24,.pure-u-md-18-24,.pure-u-md-19-24,.pure-u-md-20-24,.pure-u-md-21-24,.pure-u-md-22-24,.pure-u-md-23-24,.pure-u-md-24-24{
    display:inline-block;
    *display:inline;
    zoom:1;
    letter-spacing:normal;
    word-spacing:normal;
    vertical-align:top;
    text-rendering:auto
  }
  .pure-u-md-1-24{
    width:4.1667%;
    *width:4.1357%
  }
  .pure-u-md-1-12,.pure-u-md-2-24{
    width:8.3333%;
    *width:8.3023%
  }
  .pure-u-md-1-8,.pure-u-md-3-24{
    width:12.5%;
    *width:12.469%
  }
  .pure-u-md-1-6,.pure-u-md-4-24{
    width:16.6667%;
    *width:16.6357%
  }
  .pure-u-md-1-5{
    width:20%;
    *width:19.969%
  }
  .pure-u-md-5-24{
    width:20.8333%;
    *width:20.8023%
  }
  .pure-u-md-1-4,.pure-u-md-6-24{
    width:25%;
    *width:24.969%
  }
  .pure-u-md-7-24{
    width:29.1667%;
    *width:29.1357%
  }
  .pure-u-md-1-3,.pure-u-md-8-24{
    width:33.3333%;
    *width:33.3023%
  }
  .pure-u-md-3-8,.pure-u-md-9-24{
    width:37.5%;
    *width:37.469%
  }
  .pure-u-md-2-5{
    width:40%;
    *width:39.969%
  }
  .pure-u-md-5-12,.pure-u-md-10-24{
    width:41.6667%;
    *width:41.6357%
  }
  .pure-u-md-11-24{
    width:45.8333%;
    *width:45.8023%
  }
  .pure-u-md-1-2,.pure-u-md-12-24{
    width:50%;
    *width:49.969%
  }
  .pure-u-md-13-24{
    width:54.1667%;
    *width:54.1357%
  }
  .pure-u-md-7-12,.pure-u-md-14-24{
    width:58.3333%;
    *width:58.3023%
  }
  .pure-u-md-3-5{
    width:60%;
    *width:59.969%
  }
  .pure-u-md-5-8,.pure-u-md-15-24{
    width:62.5%;
    *width:62.469%
  }
  .pure-u-md-2-3,.pure-u-md-16-24{
    width:66.6667%;
    *width:66.6357%
  }
  .pure-u-md-17-24{
    width:70.8333%;
    *width:70.8023%
  }
  .pure-u-md-3-4,.pure-u-md-18-24{
    width:75%;
    *width:74.969%
  }
  .pure-u-md-19-24{
    width:79.1667%;
    *width:79.1357%
  }
  .pure-u-md-4-5{
    width:80%;
    *width:79.969%
  }
  .pure-u-md-5-6,.pure-u-md-20-24{
    width:83.3333%;
    *width:83.3023%
  }
  .pure-u-md-7-8,.pure-u-md-21-24{
    width:87.5%;
    *width:87.469%
  }
  .pure-u-md-11-12,.pure-u-md-22-24{
    width:91.6667%;
    *width:91.6357%
  }
  .pure-u-md-23-24{
    width:95.8333%;
    *width:95.8023%
  }
  .pure-u-md-1,.pure-u-md-1-1,.pure-u-md-5-5,.pure-u-md-24-24{
    width:100%
  }
}
@media screen and (min-width: 64em){
  .pure-u-lg-1,.pure-u-lg-1-1,.pure-u-lg-1-2,.pure-u-lg-1-3,.pure-u-lg-2-3,.pure-u-lg-1-4,.pure-u-lg-3-4,.pure-u-lg-1-5,.pure-u-lg-2-5,.pure-u-lg-3-5,.pure-u-lg-4-5,.pure-u-lg-5-5,.pure-u-lg-1-6,.pure-u-lg-5-6,.pure-u-lg-1-8,.pure-u-lg-3-8,.pure-u-lg-5-8,.pure-u-lg-7-8,.pure-u-lg-1-12,.pure-u-lg-5-12,.pure-u-lg-7-12,.pure-u-lg-11-12,.pure-u-lg-1-24,.pure-u-lg-2-24,.pure-u-lg-3-24,.pure-u-lg-4-24,.pure-u-lg-5-24,.pure-u-lg-6-24,.pure-u-lg-7-24,.pure-u-lg-8-24,.pure-u-lg-9-24,.pure-u-lg-10-24,.pure-u-lg-11-24,.pure-u-lg-12-24,.pure-u-lg-13-24,.pure-u-lg-14-24,.pure-u-lg-15-24,.pure-u-lg-16-24,.pure-u-lg-17-24,.pure-u-lg-18-24,.pure-u-lg-19-24,.pure-u-lg-20-24,.pure-u-lg-21-24,.pure-u-lg-22-24,.pure-u-lg-23-24,.pure-u-lg-24-24{
    display:inline-block;
    *display:inline;
    zoom:1;
    letter-spacing:normal;
    word-spacing:normal;
    vertical-align:top;
    text-rendering:auto
  }
  .pure-u-lg-1-24{
    width:4.1667%;
    *width:4.1357%
  }
  .pure-u-lg-1-12,.pure-u-lg-2-24{
    width:8.3333%;
    *width:8.3023%
  }
  .pure-u-lg-1-8,.pure-u-lg-3-24{
    width:12.5%;
    *width:12.469%
  }
  .pure-u-lg-1-6,.pure-u-lg-4-24{
    width:16.6667%;
    *width:16.6357%
  }
  .pure-u-lg-1-5{
    width:20%;
    *width:19.969%
  }
  .pure-u-lg-5-24{
    width:20.8333%;
    *width:20.8023%
  }
  .pure-u-lg-1-4,.pure-u-lg-6-24{
    width:25%;
    *width:24.969%
  }
  .pure-u-lg-7-24{
    width:29.1667%;
    *width:29.1357%
  }
  .pure-u-lg-1-3,.pure-u-lg-8-24{
    width:33.3333%;
    *width:33.3023%
  }
  .pure-u-lg-3-8,.pure-u-lg-9-24{
    width:37.5%;
    *width:37.469%
  }
  .pure-u-lg-2-5{
    width:40%;
    *width:39.969%
  }
  .pure-u-lg-5-12,.pure-u-lg-10-24{
    width:41.6667%;
    *width:41.6357%
  }
  .pure-u-lg-11-24{
    width:45.8333%;
    *width:45.8023%
  }
  .pure-u-lg-1-2,.pure-u-lg-12-24{
    width:50%;
    *width:49.969%
  }
  .pure-u-lg-13-24{
    width:54.1667%;
    *width:54.1357%
  }
  .pure-u-lg-7-12,.pure-u-lg-14-24{
    width:58.3333%;
    *width:58.3023%
  }
  .pure-u-lg-3-5{
    width:60%;
    *width:59.969%
  }
  .pure-u-lg-5-8,.pure-u-lg-15-24{
    width:62.5%;
    *width:62.469%
  }
  .pure-u-lg-2-3,.pure-u-lg-16-24{
    width:66.6667%;
    *width:66.6357%
  }
  .pure-u-lg-17-24{
    width:70.8333%;
    *width:70.8023%
  }
  .pure-u-lg-3-4,.pure-u-lg-18-24{
    width:75%;
    *width:74.969%
  }
  .pure-u-lg-19-24{
    width:79.1667%;
    *width:79.1357%
  }
  .pure-u-lg-4-5{
    width:80%;
    *width:79.969%
  }
  .pure-u-lg-5-6,.pure-u-lg-20-24{
    width:83.3333%;
    *width:83.3023%
  }
  .pure-u-lg-7-8,.pure-u-lg-21-24{
    width:87.5%;
    *width:87.469%
  }
  .pure-u-lg-11-12,.pure-u-lg-22-24{
    width:91.6667%;
    *width:91.6357%
  }
  .pure-u-lg-23-24{
    width:95.8333%;
    *width:95.8023%
  }
  .pure-u-lg-1,.pure-u-lg-1-1,.pure-u-lg-5-5,.pure-u-lg-24-24{
    width:100%
  }
}
@media screen and (min-width: 80em){
  .pure-u-xl-1,.pure-u-xl-1-1,.pure-u-xl-1-2,.pure-u-xl-1-3,.pure-u-xl-2-3,.pure-u-xl-1-4,.pure-u-xl-3-4,.pure-u-xl-1-5,.pure-u-xl-2-5,.pure-u-xl-3-5,.pure-u-xl-4-5,.pure-u-xl-5-5,.pure-u-xl-1-6,.pure-u-xl-5-6,.pure-u-xl-1-8,.pure-u-xl-3-8,.pure-u-xl-5-8,.pure-u-xl-7-8,.pure-u-xl-1-12,.pure-u-xl-5-12,.pure-u-xl-7-12,.pure-u-xl-11-12,.pure-u-xl-1-24,.pure-u-xl-2-24,.pure-u-xl-3-24,.pure-u-xl-4-24,.pure-u-xl-5-24,.pure-u-xl-6-24,.pure-u-xl-7-24,.pure-u-xl-8-24,.pure-u-xl-9-24,.pure-u-xl-10-24,.pure-u-xl-11-24,.pure-u-xl-12-24,.pure-u-xl-13-24,.pure-u-xl-14-24,.pure-u-xl-15-24,.pure-u-xl-16-24,.pure-u-xl-17-24,.pure-u-xl-18-24,.pure-u-xl-19-24,.pure-u-xl-20-24,.pure-u-xl-21-24,.pure-u-xl-22-24,.pure-u-xl-23-24,.pure-u-xl-24-24{
    display:inline-block;
    *display:inline;
    zoom:1;
    letter-spacing:normal;
    word-spacing:normal;
    vertical-align:top;
    text-rendering:auto
  }
  .pure-u-xl-1-24{
    width:4.1667%;
    *width:4.1357%
  }
  .pure-u-xl-1-12,.pure-u-xl-2-24{
    width:8.3333%;
    *width:8.3023%
  }
  .pure-u-xl-1-8,.pure-u-xl-3-24{
    width:12.5%;
    *width:12.469%
  }
  .pure-u-xl-1-6,.pure-u-xl-4-24{
    width:16.6667%;
    *width:16.6357%
  }
  .pure-u-xl-1-5{
    width:20%;
    *width:19.969%
  }
  .pure-u-xl-5-24{
    width:20.8333%;
    *width:20.8023%
  }
  .pure-u-xl-1-4,.pure-u-xl-6-24{
    width:25%;
    *width:24.969%
  }
  .pure-u-xl-7-24{
    width:29.1667%;
    *width:29.1357%
  }
  .pure-u-xl-1-3,.pure-u-xl-8-24{
    width:33.3333%;
    *width:33.3023%
  }
  .pure-u-xl-3-8,.pure-u-xl-9-24{
    width:37.5%;
    *width:37.469%
  }
  .pure-u-xl-2-5{
    width:40%;
    *width:39.969%
  }
  .pure-u-xl-5-12,.pure-u-xl-10-24{
    width:41.6667%;
    *width:41.6357%
  }
  .pure-u-xl-11-24{
    width:45.8333%;
    *width:45.8023%
  }
  .pure-u-xl-1-2,.pure-u-xl-12-24{
    width:50%;
    *width:49.969%
  }
  .pure-u-xl-13-24{
    width:54.1667%;
    *width:54.1357%
  }
  .pure-u-xl-7-12,.pure-u-xl-14-24{
    width:58.3333%;
    *width:58.3023%
  }
  .pure-u-xl-3-5{
    width:60%;
    *width:59.969%
  }
  .pure-u-xl-5-8,.pure-u-xl-15-24{
    width:62.5%;
    *width:62.469%
  }
  .pure-u-xl-2-3,.pure-u-xl-16-24{
    width:66.6667%;
    *width:66.6357%
  }
  .pure-u-xl-17-24{
    width:70.8333%;
    *width:70.8023%
  }
  .pure-u-xl-3-4,.pure-u-xl-18-24{
    width:75%;
    *width:74.969%
  }
  .pure-u-xl-19-24{
    width:79.1667%;
    *width:79.1357%
  }
  .pure-u-xl-4-5{
    width:80%;
    *width:79.969%
  }
  .pure-u-xl-5-6,.pure-u-xl-20-24{
    width:83.3333%;
    *width:83.3023%
  }
  .pure-u-xl-7-8,.pure-u-xl-21-24{
    width:87.5%;
    *width:87.469%
  }
  .pure-u-xl-11-12,.pure-u-xl-22-24{
    width:91.6667%;
    *width:91.6357%
  }
  .pure-u-xl-23-24{
    width:95.8333%;
    *width:95.8023%
  }
  .pure-u-xl-1,.pure-u-xl-1-1,.pure-u-xl-5-5,.pure-u-xl-24-24{
    width:100%
  }
}
.alignnone{
  margin:5px 20px 20px 0
}
.aligncenter,div.aligncenter{
  display:block;
  margin:5px auto 5px auto
}
.alignright{
  float:right;
  margin:5px 0 20px 20px
}
.alignleft{
  float:left;
  margin:5px 20px 20px 0
}
a img.alignright{
  float:right;
  margin:5px 0 20px 20px
}
a img.alignnone{
  margin:5px 20px 20px 0
}
a img.alignleft{
  float:left;
  margin:5px 20px 20px 0
}
a img.aligncenter{
  display:block;
  margin-left:auto;
  margin-right:auto
}
.wp-caption{
  background:#fff;
  border:1px solid #f0f0f0;
  max-width:96%;
  padding:5px 3px 10px;
  text-align:center
}
.wp-caption.alignnone{
  margin:5px 20px 20px 0
}
.wp-caption.alignleft{
  margin:5px 20px 20px 0
}
.wp-caption.alignright{
  margin:5px 0 20px 20px
}
.wp-caption img{
  border:0 none;
  height:auto;
  margin:0;
  max-width:98.5%;
  padding:0;
  width:auto
}
.wp-caption p.wp-caption-text{
  font-size:11px;
  line-height:17px;
  margin:0;
  padding:0 4px 5px
}
.screen-reader-text{
  clip:rect(1px, 1px, 1px, 1px);
  position:absolute !important;
  white-space:nowrap;
  height:1px;
  width:1px;
  overflow:hidden
}
.screen-reader-text:focus{
  background-color:#f1f1f1;
  border-radius:3px;
  box-shadow:0 0 2px 2px rgba(0,0,0,0.6);
  clip:auto !important;
  color:#21759b;
  display:block;
  font-size:14px;
  font-size:0.875rem;
  font-weight:bold;
  height:auto;
  left:5px;
  line-height:normal;
  padding:15px 23px 14px;
  text-decoration:none;
  top:5px;
  width:auto;
  z-index:100000
}
.video-container{
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden
}
.video-container iframe,.video-container object,.video-container embed{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%
}
.entry-content img,.entry-content iframe,.entry-content object,.entry-content embed{
  max-width:100%
}
/*! * Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome * License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License) */
@font-face{
  font-family:'FontAwesome';
  src:url("../../fonts/fontawesome-webfont.eot?v=4.7.0");
  src:url("../../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"),
    url("../../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"),
    url("../../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"),
    url("../../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"),
    url("../../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight:normal;
  font-style:normal
}
.fa{
  display:inline-block;
  font:normal normal normal 14px/1 FontAwesome;
  font-size:inherit;
  text-rendering:auto;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale
}
.fa-lg{
  font-size:1.33333333em;
  line-height:0.75em;
  vertical-align:-15%
}
.fa-2x{
  font-size:2em
}
.fa-3x{
  font-size:3em
}
.fa-4x{
  font-size:4em
}
.fa-5x{
  font-size:5em
}
.fa-fw{
  width:1.28571429em;
  text-align:center
}
.fa-ul{
  padding-left:0;
  margin-left:2.14285714em;
  list-style-type:none
}
.fa-ul>li{
  position:relative
}
.fa-li{
  position:absolute;
  left:-2.14285714em;
  width:2.14285714em;
  top:0.14285714em;
  text-align:center
}
.fa-li.fa-lg{
  left:-1.85714286em
}
.fa-border{
  padding:.2em .25em .15em;
  border:solid 0.08em #eeeeee;
  border-radius:.1em
}
.fa-pull-left{
  float:left
}
.fa-pull-right{
  float:right
}
.fa.fa-pull-left{
  margin-right:.3em
}
.fa.fa-pull-right{
  margin-left:.3em
}
.pull-right{
  float:right
}
.pull-left{
  float:left
}
.fa.pull-left{
  margin-right:.3em
}
.fa.pull-right{
  margin-left:.3em
}
.fa-spin{
  -webkit-animation:fa-spin 2s infinite linear;
  animation:fa-spin 2s infinite linear
}
.fa-pulse{
  -webkit-animation:fa-spin 1s infinite steps(8);
  animation:fa-spin 1s infinite steps(8)
}
@-webkit-keyframes fa-spin{
  0%{
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg)
  }
  100%{
    -webkit-transform:rotate(359deg);
    transform:rotate(359deg)
  }
}
@keyframes fa-spin{
  0%{
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg)
  }
  100%{
    -webkit-transform:rotate(359deg);
    transform:rotate(359deg)
  }
}
.fa-rotate-90{
  -ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg)
}
.fa-rotate-180{
  -ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg)
}
.fa-rotate-270{
  -ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg)
}
.fa-flip-horizontal{
  -ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform:scale(-1, 1);
  -ms-transform:scale(-1, 1);
  transform:scale(-1, 1)
}
.fa-flip-vertical{
  -ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform:scale(1, -1);
  -ms-transform:scale(1, -1);
  transform:scale(1, -1)
}
:root .fa-rotate-90,:root .fa-rotate-180,:root .fa-rotate-270,:root .fa-flip-horizontal,:root .fa-flip-vertical{
  filter:none
}
.fa-stack{
  position:relative;
  display:inline-block;
  width:2em;
  height:2em;
  line-height:2em;
  vertical-align:middle
}
.fa-stack-1x,.fa-stack-2x{
  position:absolute;
  left:0;
  width:100%;
  text-align:center
}
.fa-stack-1x{
  line-height:inherit
}
.fa-stack-2x{
  font-size:2em
}
.fa-inverse{
  color:#ffffff
}
.fa-glass:before{
  content:"\f000"
}
.fa-music:before{
  content:"\f001"
}
.fa-search:before{
  content:"\f002"
}
.fa-envelope-o:before{
  content:"\f003"
}
.fa-heart:before{
  content:"\f004"
}
.fa-star:before{
  content:"\f005"
}
.fa-star-o:before{
  content:"\f006"
}
.fa-user:before{
  content:"\f007"
}
.fa-film:before{
  content:"\f008"
}
.fa-th-large:before{
  content:"\f009"
}
.fa-th:before{
  content:"\f00a"
}
.fa-th-list:before{
  content:"\f00b"
}
.fa-check:before{
  content:"\f00c"
}
.fa-remove:before,.fa-close:before,.fa-times:before{
  content:"\f00d"
}
.fa-search-plus:before{
  content:"\f00e"
}
.fa-search-minus:before{
  content:"\f010"
}
.fa-power-off:before{
  content:"\f011"
}
.fa-signal:before{
  content:"\f012"
}
.fa-gear:before,.fa-cog:before{
  content:"\f013"
}
.fa-trash-o:before{
  content:"\f014"
}
.fa-home:before{
  content:"\f015"
}
.fa-file-o:before{
  content:"\f016"
}
.fa-clock-o:before{
  content:"\f017"
}
.fa-road:before{
  content:"\f018"
}
.fa-download:before{
  content:"\f019"
}
.fa-arrow-circle-o-down:before{
  content:"\f01a"
}
.fa-arrow-circle-o-up:before{
  content:"\f01b"
}
.fa-inbox:before{
  content:"\f01c"
}
.fa-play-circle-o:before{
  content:"\f01d"
}
.fa-rotate-right:before,.fa-repeat:before{
  content:"\f01e"
}
.fa-refresh:before{
  content:"\f021"
}
.fa-list-alt:before{
  content:"\f022"
}
.fa-lock:before{
  content:"\f023"
}
.fa-flag:before{
  content:"\f024"
}
.fa-headphones:before{
  content:"\f025"
}
.fa-volume-off:before{
  content:"\f026"
}
.fa-volume-down:before{
  content:"\f027"
}
.fa-volume-up:before{
  content:"\f028"
}
.fa-qrcode:before{
  content:"\f029"
}
.fa-barcode:before{
  content:"\f02a"
}
.fa-tag:before{
  content:"\f02b"
}
.fa-tags:before{
  content:"\f02c"
}
.fa-book:before{
  content:"\f02d"
}
.fa-bookmark:before{
  content:"\f02e"
}
.fa-print:before{
  content:"\f02f"
}
.fa-camera:before{
  content:"\f030"
}
.fa-font:before{
  content:"\f031"
}
.fa-bold:before{
  content:"\f032"
}
.fa-italic:before{
  content:"\f033"
}
.fa-text-height:before{
  content:"\f034"
}
.fa-text-width:before{
  content:"\f035"
}
.fa-align-left:before{
  content:"\f036"
}
.fa-align-center:before{
  content:"\f037"
}
.fa-align-right:before{
  content:"\f038"
}
.fa-align-justify:before{
  content:"\f039"
}
.fa-list:before{
  content:"\f03a"
}
.fa-dedent:before,.fa-outdent:before{
  content:"\f03b"
}
.fa-indent:before{
  content:"\f03c"
}
.fa-video-camera:before{
  content:"\f03d"
}
.fa-photo:before,.fa-image:before,.fa-picture-o:before{
  content:"\f03e"
}
.fa-pencil:before{
  content:"\f040"
}
.fa-map-marker:before{
  content:"\f041"
}
.fa-adjust:before{
  content:"\f042"
}
.fa-tint:before{
  content:"\f043"
}
.fa-edit:before,.fa-pencil-square-o:before{
  content:"\f044"
}
.fa-share-square-o:before{
  content:"\f045"
}
.fa-check-square-o:before{
  content:"\f046"
}
.fa-arrows:before{
  content:"\f047"
}
.fa-step-backward:before{
  content:"\f048"
}
.fa-fast-backward:before{
  content:"\f049"
}
.fa-backward:before{
  content:"\f04a"
}
.fa-play:before{
  content:"\f04b"
}
.fa-pause:before{
  content:"\f04c"
}
.fa-stop:before{
  content:"\f04d"
}
.fa-forward:before{
  content:"\f04e"
}
.fa-fast-forward:before{
  content:"\f050"
}
.fa-step-forward:before{
  content:"\f051"
}
.fa-eject:before{
  content:"\f052"
}
.fa-chevron-left:before{
  content:"\f053"
}
.fa-chevron-right:before{
  content:"\f054"
}
.fa-plus-circle:before{
  content:"\f055"
}
.fa-minus-circle:before{
  content:"\f056"
}
.fa-times-circle:before{
  content:"\f057"
}
.fa-check-circle:before{
  content:"\f058"
}
.fa-question-circle:before{
  content:"\f059"
}
.fa-info-circle:before{
  content:"\f05a"
}
.fa-crosshairs:before{
  content:"\f05b"
}
.fa-times-circle-o:before{
  content:"\f05c"
}
.fa-check-circle-o:before{
  content:"\f05d"
}
.fa-ban:before{
  content:"\f05e"
}
.fa-arrow-left:before{
  content:"\f060"
}
.fa-arrow-right:before{
  content:"\f061"
}
.fa-arrow-up:before{
  content:"\f062"
}
.fa-arrow-down:before{
  content:"\f063"
}
.fa-mail-forward:before,.fa-share:before{
  content:"\f064"
}
.fa-expand:before{
  content:"\f065"
}
.fa-compress:before{
  content:"\f066"
}
.fa-plus:before{
  content:"\f067"
}
.fa-minus:before{
  content:"\f068"
}
.fa-asterisk:before{
  content:"\f069"
}
.fa-exclamation-circle:before{
  content:"\f06a"
}
.fa-gift:before{
  content:"\f06b"
}
.fa-leaf:before{
  content:"\f06c"
}
.fa-fire:before{
  content:"\f06d"
}
.fa-eye:before{
  content:"\f06e"
}
.fa-eye-slash:before{
  content:"\f070"
}
.fa-warning:before,.fa-exclamation-triangle:before{
  content:"\f071"
}
.fa-plane:before{
  content:"\f072"
}
.fa-calendar:before{
  content:"\f073"
}
.fa-random:before{
  content:"\f074"
}
.fa-comment:before{
  content:"\f075"
}
.fa-magnet:before{
  content:"\f076"
}
.fa-chevron-up:before{
  content:"\f077"
}
.fa-chevron-down:before{
  content:"\f078"
}
.fa-retweet:before{
  content:"\f079"
}
.fa-shopping-cart:before{
  content:"\f07a"
}
.fa-folder:before{
  content:"\f07b"
}
.fa-folder-open:before{
  content:"\f07c"
}
.fa-arrows-v:before{
  content:"\f07d"
}
.fa-arrows-h:before{
  content:"\f07e"
}
.fa-bar-chart-o:before,.fa-bar-chart:before{
  content:"\f080"
}
.fa-twitter-square:before{
  content:"\f081"
}
.fa-facebook-square:before{
  content:"\f082"
}
.fa-camera-retro:before{
  content:"\f083"
}
.fa-key:before{
  content:"\f084"
}
.fa-gears:before,.fa-cogs:before{
  content:"\f085"
}
.fa-comments:before{
  content:"\f086"
}
.fa-thumbs-o-up:before{
  content:"\f087"
}
.fa-thumbs-o-down:before{
  content:"\f088"
}
.fa-star-half:before{
  content:"\f089"
}
.fa-heart-o:before{
  content:"\f08a"
}
.fa-sign-out:before{
  content:"\f08b"
}
.fa-linkedin-square:before{
  content:"\f08c"
}
.fa-thumb-tack:before{
  content:"\f08d"
}
.fa-external-link:before{
  content:"\f08e"
}
.fa-sign-in:before{
  content:"\f090"
}
.fa-trophy:before{
  content:"\f091"
}
.fa-github-square:before{
  content:"\f092"
}
.fa-upload:before{
  content:"\f093"
}
.fa-lemon-o:before{
  content:"\f094"
}
.fa-phone:before{
  content:"\f095"
}
.fa-square-o:before{
  content:"\f096"
}
.fa-bookmark-o:before{
  content:"\f097"
}
.fa-phone-square:before{
  content:"\f098"
}
.fa-twitter:before{
  content:"\f099"
}
.fa-facebook-f:before,.fa-facebook:before{
  content:"\f09a"
}
.fa-github:before{
  content:"\f09b"
}
.fa-unlock:before{
  content:"\f09c"
}
.fa-credit-card:before{
  content:"\f09d"
}
.fa-feed:before,.fa-rss:before{
  content:"\f09e"
}
.fa-hdd-o:before{
  content:"\f0a0"
}
.fa-bullhorn:before{
  content:"\f0a1"
}
.fa-bell:before{
  content:"\f0f3"
}
.fa-certificate:before{
  content:"\f0a3"
}
.fa-hand-o-right:before{
  content:"\f0a4"
}
.fa-hand-o-left:before{
  content:"\f0a5"
}
.fa-hand-o-up:before{
  content:"\f0a6"
}
.fa-hand-o-down:before{
  content:"\f0a7"
}
.fa-arrow-circle-left:before{
  content:"\f0a8"
}
.fa-arrow-circle-right:before{
  content:"\f0a9"
}
.fa-arrow-circle-up:before{
  content:"\f0aa"
}
.fa-arrow-circle-down:before{
  content:"\f0ab"
}
.fa-globe:before{
  content:"\f0ac"
}
.fa-wrench:before{
  content:"\f0ad"
}
.fa-tasks:before{
  content:"\f0ae"
}
.fa-filter:before{
  content:"\f0b0"
}
.fa-briefcase:before{
  content:"\f0b1"
}
.fa-arrows-alt:before{
  content:"\f0b2"
}
.fa-group:before,.fa-users:before{
  content:"\f0c0"
}
.fa-chain:before,.fa-link:before{
  content:"\f0c1"
}
.fa-cloud:before{
  content:"\f0c2"
}
.fa-flask:before{
  content:"\f0c3"
}
.fa-cut:before,.fa-scissors:before{
  content:"\f0c4"
}
.fa-copy:before,.fa-files-o:before{
  content:"\f0c5"
}
.fa-paperclip:before{
  content:"\f0c6"
}
.fa-save:before,.fa-floppy-o:before{
  content:"\f0c7"
}
.fa-square:before{
  content:"\f0c8"
}
.fa-navicon:before,.fa-reorder:before,.fa-bars:before{
  content:"\f0c9"
}
.fa-list-ul:before{
  content:"\f0ca"
}
.fa-list-ol:before{
  content:"\f0cb"
}
.fa-strikethrough:before{
  content:"\f0cc"
}
.fa-underline:before{
  content:"\f0cd"
}
.fa-table:before{
  content:"\f0ce"
}
.fa-magic:before{
  content:"\f0d0"
}
.fa-truck:before{
  content:"\f0d1"
}
.fa-pinterest:before{
  content:"\f0d2"
}
.fa-pinterest-square:before{
  content:"\f0d3"
}
.fa-google-plus-square:before{
  content:"\f0d4"
}
.fa-google-plus:before{
  content:"\f0d5"
}
.fa-money:before{
  content:"\f0d6"
}
.fa-caret-down:before{
  content:"\f0d7"
}
.fa-caret-up:before{
  content:"\f0d8"
}
.fa-caret-left:before{
  content:"\f0d9"
}
.fa-caret-right:before{
  content:"\f0da"
}
.fa-columns:before{
  content:"\f0db"
}
.fa-unsorted:before,.fa-sort:before{
  content:"\f0dc"
}
.fa-sort-down:before,.fa-sort-desc:before{
  content:"\f0dd"
}
.fa-sort-up:before,.fa-sort-asc:before{
  content:"\f0de"
}
.fa-envelope:before{
  content:"\f0e0"
}
.fa-linkedin:before{
  content:"\f0e1"
}
.fa-rotate-left:before,.fa-undo:before{
  content:"\f0e2"
}
.fa-legal:before,.fa-gavel:before{
  content:"\f0e3"
}
.fa-dashboard:before,.fa-tachometer:before{
  content:"\f0e4"
}
.fa-comment-o:before{
  content:"\f0e5"
}
.fa-comments-o:before{
  content:"\f0e6"
}
.fa-flash:before,.fa-bolt:before{
  content:"\f0e7"
}
.fa-sitemap:before{
  content:"\f0e8"
}
.fa-umbrella:before{
  content:"\f0e9"
}
.fa-paste:before,.fa-clipboard:before{
  content:"\f0ea"
}
.fa-lightbulb-o:before{
  content:"\f0eb"
}
.fa-exchange:before{
  content:"\f0ec"
}
.fa-cloud-download:before{
  content:"\f0ed"
}
.fa-cloud-upload:before{
  content:"\f0ee"
}
.fa-user-md:before{
  content:"\f0f0"
}
.fa-stethoscope:before{
  content:"\f0f1"
}
.fa-suitcase:before{
  content:"\f0f2"
}
.fa-bell-o:before{
  content:"\f0a2"
}
.fa-coffee:before{
  content:"\f0f4"
}
.fa-cutlery:before{
  content:"\f0f5"
}
.fa-file-text-o:before{
  content:"\f0f6"
}
.fa-building-o:before{
  content:"\f0f7"
}
.fa-hospital-o:before{
  content:"\f0f8"
}
.fa-ambulance:before{
  content:"\f0f9"
}
.fa-medkit:before{
  content:"\f0fa"
}
.fa-fighter-jet:before{
  content:"\f0fb"
}
.fa-beer:before{
  content:"\f0fc"
}
.fa-h-square:before{
  content:"\f0fd"
}
.fa-plus-square:before{
  content:"\f0fe"
}
.fa-angle-double-left:before{
  content:"\f100"
}
.fa-angle-double-right:before{
  content:"\f101"
}
.fa-angle-double-up:before{
  content:"\f102"
}
.fa-angle-double-down:before{
  content:"\f103"
}
.fa-angle-left:before{
  content:"\f104"
}
.fa-angle-right:before{
  content:"\f105"
}
.fa-angle-up:before{
  content:"\f106"
}
.fa-angle-down:before{
  content:"\f107"
}
.fa-desktop:before{
  content:"\f108"
}
.fa-laptop:before{
  content:"\f109"
}
.fa-tablet:before{
  content:"\f10a"
}
.fa-mobile-phone:before,.fa-mobile:before{
  content:"\f10b"
}
.fa-circle-o:before{
  content:"\f10c"
}
.fa-quote-left:before{
  content:"\f10d"
}
.fa-quote-right:before{
  content:"\f10e"
}
.fa-spinner:before{
  content:"\f110"
}
.fa-circle:before{
  content:"\f111"
}
.fa-mail-reply:before,.fa-reply:before{
  content:"\f112"
}
.fa-github-alt:before{
  content:"\f113"
}
.fa-folder-o:before{
  content:"\f114"
}
.fa-folder-open-o:before{
  content:"\f115"
}
.fa-smile-o:before{
  content:"\f118"
}
.fa-frown-o:before{
  content:"\f119"
}
.fa-meh-o:before{
  content:"\f11a"
}
.fa-gamepad:before{
  content:"\f11b"
}
.fa-keyboard-o:before{
  content:"\f11c"
}
.fa-flag-o:before{
  content:"\f11d"
}
.fa-flag-checkered:before{
  content:"\f11e"
}
.fa-terminal:before{
  content:"\f120"
}
.fa-code:before{
  content:"\f121"
}
.fa-mail-reply-all:before,.fa-reply-all:before{
  content:"\f122"
}
.fa-star-half-empty:before,.fa-star-half-full:before,.fa-star-half-o:before{
  content:"\f123"
}
.fa-location-arrow:before{
  content:"\f124"
}
.fa-crop:before{
  content:"\f125"
}
.fa-code-fork:before{
  content:"\f126"
}
.fa-unlink:before,.fa-chain-broken:before{
  content:"\f127"
}
.fa-question:before{
  content:"\f128"
}
.fa-info:before{
  content:"\f129"
}
.fa-exclamation:before{
  content:"\f12a"
}
.fa-superscript:before{
  content:"\f12b"
}
.fa-subscript:before{
  content:"\f12c"
}
.fa-eraser:before{
  content:"\f12d"
}
.fa-puzzle-piece:before{
  content:"\f12e"
}
.fa-microphone:before{
  content:"\f130"
}
.fa-microphone-slash:before{
  content:"\f131"
}
.fa-shield:before{
  content:"\f132"
}
.fa-calendar-o:before{
  content:"\f133"
}
.fa-fire-extinguisher:before{
  content:"\f134"
}
.fa-rocket:before{
  content:"\f135"
}
.fa-maxcdn:before{
  content:"\f136"
}
.fa-chevron-circle-left:before{
  content:"\f137"
}
.fa-chevron-circle-right:before{
  content:"\f138"
}
.fa-chevron-circle-up:before{
  content:"\f139"
}
.fa-chevron-circle-down:before{
  content:"\f13a"
}
.fa-html5:before{
  content:"\f13b"
}
.fa-css3:before{
  content:"\f13c"
}
.fa-anchor:before{
  content:"\f13d"
}
.fa-unlock-alt:before{
  content:"\f13e"
}
.fa-bullseye:before{
  content:"\f140"
}
.fa-ellipsis-h:before{
  content:"\f141"
}
.fa-ellipsis-v:before{
  content:"\f142"
}
.fa-rss-square:before{
  content:"\f143"
}
.fa-play-circle:before{
  content:"\f144"
}
.fa-ticket:before{
  content:"\f145"
}
.fa-minus-square:before{
  content:"\f146"
}
.fa-minus-square-o:before{
  content:"\f147"
}
.fa-level-up:before{
  content:"\f148"
}
.fa-level-down:before{
  content:"\f149"
}
.fa-check-square:before{
  content:"\f14a"
}
.fa-pencil-square:before{
  content:"\f14b"
}
.fa-external-link-square:before{
  content:"\f14c"
}
.fa-share-square:before{
  content:"\f14d"
}
.fa-compass:before{
  content:"\f14e"
}
.fa-toggle-down:before,.fa-caret-square-o-down:before{
  content:"\f150"
}
.fa-toggle-up:before,.fa-caret-square-o-up:before{
  content:"\f151"
}
.fa-toggle-right:before,.fa-caret-square-o-right:before{
  content:"\f152"
}
.fa-euro:before,.fa-eur:before{
  content:"\f153"
}
.fa-gbp:before{
  content:"\f154"
}
.fa-dollar:before,.fa-usd:before{
  content:"\f155"
}
.fa-rupee:before,.fa-inr:before{
  content:"\f156"
}
.fa-cny:before,.fa-rmb:before,.fa-yen:before,.fa-jpy:before{
  content:"\f157"
}
.fa-ruble:before,.fa-rouble:before,.fa-rub:before{
  content:"\f158"
}
.fa-won:before,.fa-krw:before{
  content:"\f159"
}
.fa-bitcoin:before,.fa-btc:before{
  content:"\f15a"
}
.fa-file:before{
  content:"\f15b"
}
.fa-file-text:before{
  content:"\f15c"
}
.fa-sort-alpha-asc:before{
  content:"\f15d"
}
.fa-sort-alpha-desc:before{
  content:"\f15e"
}
.fa-sort-amount-asc:before{
  content:"\f160"
}
.fa-sort-amount-desc:before{
  content:"\f161"
}
.fa-sort-numeric-asc:before{
  content:"\f162"
}
.fa-sort-numeric-desc:before{
  content:"\f163"
}
.fa-thumbs-up:before{
  content:"\f164"
}
.fa-thumbs-down:before{
  content:"\f165"
}
.fa-youtube-square:before{
  content:"\f166"
}
.fa-youtube:before{
  content:"\f167"
}
.fa-xing:before{
  content:"\f168"
}
.fa-xing-square:before{
  content:"\f169"
}
.fa-youtube-play:before{
  content:"\f16a"
}
.fa-dropbox:before{
  content:"\f16b"
}
.fa-stack-overflow:before{
  content:"\f16c"
}
.fa-instagram:before{
  content:"\f16d"
}
.fa-flickr:before{
  content:"\f16e"
}
.fa-adn:before{
  content:"\f170"
}
.fa-bitbucket:before{
  content:"\f171"
}
.fa-bitbucket-square:before{
  content:"\f172"
}
.fa-tumblr:before{
  content:"\f173"
}
.fa-tumblr-square:before{
  content:"\f174"
}
.fa-long-arrow-down:before{
  content:"\f175"
}
.fa-long-arrow-up:before{
  content:"\f176"
}
.fa-long-arrow-left:before{
  content:"\f177"
}
.fa-long-arrow-right:before{
  content:"\f178"
}
.fa-apple:before{
  content:"\f179"
}
.fa-windows:before{
  content:"\f17a"
}
.fa-android:before{
  content:"\f17b"
}
.fa-linux:before{
  content:"\f17c"
}
.fa-dribbble:before{
  content:"\f17d"
}
.fa-skype:before{
  content:"\f17e"
}
.fa-foursquare:before{
  content:"\f180"
}
.fa-trello:before{
  content:"\f181"
}
.fa-female:before{
  content:"\f182"
}
.fa-male:before{
  content:"\f183"
}
.fa-gittip:before,.fa-gratipay:before{
  content:"\f184"
}
.fa-sun-o:before{
  content:"\f185"
}
.fa-moon-o:before{
  content:"\f186"
}
.fa-archive:before{
  content:"\f187"
}
.fa-bug:before{
  content:"\f188"
}
.fa-vk:before{
  content:"\f189"
}
.fa-weibo:before{
  content:"\f18a"
}
.fa-renren:before{
  content:"\f18b"
}
.fa-pagelines:before{
  content:"\f18c"
}
.fa-stack-exchange:before{
  content:"\f18d"
}
.fa-arrow-circle-o-right:before{
  content:"\f18e"
}
.fa-arrow-circle-o-left:before{
  content:"\f190"
}
.fa-toggle-left:before,.fa-caret-square-o-left:before{
  content:"\f191"
}
.fa-dot-circle-o:before{
  content:"\f192"
}
.fa-wheelchair:before{
  content:"\f193"
}
.fa-vimeo-square:before{
  content:"\f194"
}
.fa-turkish-lira:before,.fa-try:before{
  content:"\f195"
}
.fa-plus-square-o:before{
  content:"\f196"
}
.fa-space-shuttle:before{
  content:"\f197"
}
.fa-slack:before{
  content:"\f198"
}
.fa-envelope-square:before{
  content:"\f199"
}
.fa-wordpress:before{
  content:"\f19a"
}
.fa-openid:before{
  content:"\f19b"
}
.fa-institution:before,.fa-bank:before,.fa-university:before{
  content:"\f19c"
}
.fa-mortar-board:before,.fa-graduation-cap:before{
  content:"\f19d"
}
.fa-yahoo:before{
  content:"\f19e"
}
.fa-google:before{
  content:"\f1a0"
}
.fa-reddit:before{
  content:"\f1a1"
}
.fa-reddit-square:before{
  content:"\f1a2"
}
.fa-stumbleupon-circle:before{
  content:"\f1a3"
}
.fa-stumbleupon:before{
  content:"\f1a4"
}
.fa-delicious:before{
  content:"\f1a5"
}
.fa-digg:before{
  content:"\f1a6"
}
.fa-pied-piper-pp:before{
  content:"\f1a7"
}
.fa-pied-piper-alt:before{
  content:"\f1a8"
}
.fa-drupal:before{
  content:"\f1a9"
}
.fa-joomla:before{
  content:"\f1aa"
}
.fa-language:before{
  content:"\f1ab"
}
.fa-fax:before{
  content:"\f1ac"
}
.fa-building:before{
  content:"\f1ad"
}
.fa-child:before{
  content:"\f1ae"
}
.fa-paw:before{
  content:"\f1b0"
}
.fa-spoon:before{
  content:"\f1b1"
}
.fa-cube:before{
  content:"\f1b2"
}
.fa-cubes:before{
  content:"\f1b3"
}
.fa-behance:before{
  content:"\f1b4"
}
.fa-behance-square:before{
  content:"\f1b5"
}
.fa-steam:before{
  content:"\f1b6"
}
.fa-steam-square:before{
  content:"\f1b7"
}
.fa-recycle:before{
  content:"\f1b8"
}
.fa-automobile:before,.fa-car:before{
  content:"\f1b9"
}
.fa-cab:before,.fa-taxi:before{
  content:"\f1ba"
}
.fa-tree:before{
  content:"\f1bb"
}
.fa-spotify:before{
  content:"\f1bc"
}
.fa-deviantart:before{
  content:"\f1bd"
}
.fa-soundcloud:before{
  content:"\f1be"
}
.fa-database:before{
  content:"\f1c0"
}
.fa-file-pdf-o:before{
  content:"\f1c1"
}
.fa-file-word-o:before{
  content:"\f1c2"
}
.fa-file-excel-o:before{
  content:"\f1c3"
}
.fa-file-powerpoint-o:before{
  content:"\f1c4"
}
.fa-file-photo-o:before,.fa-file-picture-o:before,.fa-file-image-o:before{
  content:"\f1c5"
}
.fa-file-zip-o:before,.fa-file-archive-o:before{
  content:"\f1c6"
}
.fa-file-sound-o:before,.fa-file-audio-o:before{
  content:"\f1c7"
}
.fa-file-movie-o:before,.fa-file-video-o:before{
  content:"\f1c8"
}
.fa-file-code-o:before{
  content:"\f1c9"
}
.fa-vine:before{
  content:"\f1ca"
}
.fa-codepen:before{
  content:"\f1cb"
}
.fa-jsfiddle:before{
  content:"\f1cc"
}
.fa-life-bouy:before,.fa-life-buoy:before,.fa-life-saver:before,.fa-support:before,.fa-life-ring:before{
  content:"\f1cd"
}
.fa-circle-o-notch:before{
  content:"\f1ce"
}
.fa-ra:before,.fa-resistance:before,.fa-rebel:before{
  content:"\f1d0"
}
.fa-ge:before,.fa-empire:before{
  content:"\f1d1"
}
.fa-git-square:before{
  content:"\f1d2"
}
.fa-git:before{
  content:"\f1d3"
}
.fa-y-combinator-square:before,.fa-yc-square:before,.fa-hacker-news:before{
  content:"\f1d4"
}
.fa-tencent-weibo:before{
  content:"\f1d5"
}
.fa-qq:before{
  content:"\f1d6"
}
.fa-wechat:before,.fa-weixin:before{
  content:"\f1d7"
}
.fa-send:before,.fa-paper-plane:before{
  content:"\f1d8"
}
.fa-send-o:before,.fa-paper-plane-o:before{
  content:"\f1d9"
}
.fa-history:before{
  content:"\f1da"
}
.fa-circle-thin:before{
  content:"\f1db"
}
.fa-header:before{
  content:"\f1dc"
}
.fa-paragraph:before{
  content:"\f1dd"
}
.fa-sliders:before{
  content:"\f1de"
}
.fa-share-alt:before{
  content:"\f1e0"
}
.fa-share-alt-square:before{
  content:"\f1e1"
}
.fa-bomb:before{
  content:"\f1e2"
}
.fa-soccer-ball-o:before,.fa-futbol-o:before{
  content:"\f1e3"
}
.fa-tty:before{
  content:"\f1e4"
}
.fa-binoculars:before{
  content:"\f1e5"
}
.fa-plug:before{
  content:"\f1e6"
}
.fa-slideshare:before{
  content:"\f1e7"
}
.fa-twitch:before{
  content:"\f1e8"
}
.fa-yelp:before{
  content:"\f1e9"
}
.fa-newspaper-o:before{
  content:"\f1ea"
}
.fa-wifi:before{
  content:"\f1eb"
}
.fa-calculator:before{
  content:"\f1ec"
}
.fa-paypal:before{
  content:"\f1ed"
}
.fa-google-wallet:before{
  content:"\f1ee"
}
.fa-cc-visa:before{
  content:"\f1f0"
}
.fa-cc-mastercard:before{
  content:"\f1f1"
}
.fa-cc-discover:before{
  content:"\f1f2"
}
.fa-cc-amex:before{
  content:"\f1f3"
}
.fa-cc-paypal:before{
  content:"\f1f4"
}
.fa-cc-stripe:before{
  content:"\f1f5"
}
.fa-bell-slash:before{
  content:"\f1f6"
}
.fa-bell-slash-o:before{
  content:"\f1f7"
}
.fa-trash:before{
  content:"\f1f8"
}
.fa-copyright:before{
  content:"\f1f9"
}
.fa-at:before{
  content:"\f1fa"
}
.fa-eyedropper:before{
  content:"\f1fb"
}
.fa-paint-brush:before{
  content:"\f1fc"
}
.fa-birthday-cake:before{
  content:"\f1fd"
}
.fa-area-chart:before{
  content:"\f1fe"
}
.fa-pie-chart:before{
  content:"\f200"
}
.fa-line-chart:before{
  content:"\f201"
}
.fa-lastfm:before{
  content:"\f202"
}
.fa-lastfm-square:before{
  content:"\f203"
}
.fa-toggle-off:before{
  content:"\f204"
}
.fa-toggle-on:before{
  content:"\f205"
}
.fa-bicycle:before{
  content:"\f206"
}
.fa-bus:before{
  content:"\f207"
}
.fa-ioxhost:before{
  content:"\f208"
}
.fa-angellist:before{
  content:"\f209"
}
.fa-cc:before{
  content:"\f20a"
}
.fa-shekel:before,.fa-sheqel:before,.fa-ils:before{
  content:"\f20b"
}
.fa-meanpath:before{
  content:"\f20c"
}
.fa-buysellads:before{
  content:"\f20d"
}
.fa-connectdevelop:before{
  content:"\f20e"
}
.fa-dashcube:before{
  content:"\f210"
}
.fa-forumbee:before{
  content:"\f211"
}
.fa-leanpub:before{
  content:"\f212"
}
.fa-sellsy:before{
  content:"\f213"
}
.fa-shirtsinbulk:before{
  content:"\f214"
}
.fa-simplybuilt:before{
  content:"\f215"
}
.fa-skyatlas:before{
  content:"\f216"
}
.fa-cart-plus:before{
  content:"\f217"
}
.fa-cart-arrow-down:before{
  content:"\f218"
}
.fa-diamond:before{
  content:"\f219"
}
.fa-ship:before{
  content:"\f21a"
}
.fa-user-secret:before{
  content:"\f21b"
}
.fa-motorcycle:before{
  content:"\f21c"
}
.fa-street-view:before{
  content:"\f21d"
}
.fa-heartbeat:before{
  content:"\f21e"
}
.fa-venus:before{
  content:"\f221"
}
.fa-mars:before{
  content:"\f222"
}
.fa-mercury:before{
  content:"\f223"
}
.fa-intersex:before,.fa-transgender:before{
  content:"\f224"
}
.fa-transgender-alt:before{
  content:"\f225"
}
.fa-venus-double:before{
  content:"\f226"
}
.fa-mars-double:before{
  content:"\f227"
}
.fa-venus-mars:before{
  content:"\f228"
}
.fa-mars-stroke:before{
  content:"\f229"
}
.fa-mars-stroke-v:before{
  content:"\f22a"
}
.fa-mars-stroke-h:before{
  content:"\f22b"
}
.fa-neuter:before{
  content:"\f22c"
}
.fa-genderless:before{
  content:"\f22d"
}
.fa-facebook-official:before{
  content:"\f230"
}
.fa-pinterest-p:before{
  content:"\f231"
}
.fa-whatsapp:before{
  content:"\f232"
}
.fa-server:before{
  content:"\f233"
}
.fa-user-plus:before{
  content:"\f234"
}
.fa-user-times:before{
  content:"\f235"
}
.fa-hotel:before,.fa-bed:before{
  content:"\f236"
}
.fa-viacoin:before{
  content:"\f237"
}
.fa-train:before{
  content:"\f238"
}
.fa-subway:before{
  content:"\f239"
}
.fa-medium:before{
  content:"\f23a"
}
.fa-yc:before,.fa-y-combinator:before{
  content:"\f23b"
}
.fa-optin-monster:before{
  content:"\f23c"
}
.fa-opencart:before{
  content:"\f23d"
}
.fa-expeditedssl:before{
  content:"\f23e"
}
.fa-battery-4:before,.fa-battery:before,.fa-battery-full:before{
  content:"\f240"
}
.fa-battery-3:before,.fa-battery-three-quarters:before{
  content:"\f241"
}
.fa-battery-2:before,.fa-battery-half:before{
  content:"\f242"
}
.fa-battery-1:before,.fa-battery-quarter:before{
  content:"\f243"
}
.fa-battery-0:before,.fa-battery-empty:before{
  content:"\f244"
}
.fa-mouse-pointer:before{
  content:"\f245"
}
.fa-i-cursor:before{
  content:"\f246"
}
.fa-object-group:before{
  content:"\f247"
}
.fa-object-ungroup:before{
  content:"\f248"
}
.fa-sticky-note:before{
  content:"\f249"
}
.fa-sticky-note-o:before{
  content:"\f24a"
}
.fa-cc-jcb:before{
  content:"\f24b"
}
.fa-cc-diners-club:before{
  content:"\f24c"
}
.fa-clone:before{
  content:"\f24d"
}
.fa-balance-scale:before{
  content:"\f24e"
}
.fa-hourglass-o:before{
  content:"\f250"
}
.fa-hourglass-1:before,.fa-hourglass-start:before{
  content:"\f251"
}
.fa-hourglass-2:before,.fa-hourglass-half:before{
  content:"\f252"
}
.fa-hourglass-3:before,.fa-hourglass-end:before{
  content:"\f253"
}
.fa-hourglass:before{
  content:"\f254"
}
.fa-hand-grab-o:before,.fa-hand-rock-o:before{
  content:"\f255"
}
.fa-hand-stop-o:before,.fa-hand-paper-o:before{
  content:"\f256"
}
.fa-hand-scissors-o:before{
  content:"\f257"
}
.fa-hand-lizard-o:before{
  content:"\f258"
}
.fa-hand-spock-o:before{
  content:"\f259"
}
.fa-hand-pointer-o:before{
  content:"\f25a"
}
.fa-hand-peace-o:before{
  content:"\f25b"
}
.fa-trademark:before{
  content:"\f25c"
}
.fa-registered:before{
  content:"\f25d"
}
.fa-creative-commons:before{
  content:"\f25e"
}
.fa-gg:before{
  content:"\f260"
}
.fa-gg-circle:before{
  content:"\f261"
}
.fa-tripadvisor:before{
  content:"\f262"
}
.fa-odnoklassniki:before{
  content:"\f263"
}
.fa-odnoklassniki-square:before{
  content:"\f264"
}
.fa-get-pocket:before{
  content:"\f265"
}
.fa-wikipedia-w:before{
  content:"\f266"
}
.fa-safari:before{
  content:"\f267"
}
.fa-chrome:before{
  content:"\f268"
}
.fa-firefox:before{
  content:"\f269"
}
.fa-opera:before{
  content:"\f26a"
}
.fa-internet-explorer:before{
  content:"\f26b"
}
.fa-tv:before,.fa-television:before{
  content:"\f26c"
}
.fa-contao:before{
  content:"\f26d"
}
.fa-500px:before{
  content:"\f26e"
}
.fa-amazon:before{
  content:"\f270"
}
.fa-calendar-plus-o:before{
  content:"\f271"
}
.fa-calendar-minus-o:before{
  content:"\f272"
}
.fa-calendar-times-o:before{
  content:"\f273"
}
.fa-calendar-check-o:before{
  content:"\f274"
}
.fa-industry:before{
  content:"\f275"
}
.fa-map-pin:before{
  content:"\f276"
}
.fa-map-signs:before{
  content:"\f277"
}
.fa-map-o:before{
  content:"\f278"
}
.fa-map:before{
  content:"\f279"
}
.fa-commenting:before{
  content:"\f27a"
}
.fa-commenting-o:before{
  content:"\f27b"
}
.fa-houzz:before{
  content:"\f27c"
}
.fa-vimeo:before{
  content:"\f27d"
}
.fa-black-tie:before{
  content:"\f27e"
}
.fa-fonticons:before{
  content:"\f280"
}
.fa-reddit-alien:before{
  content:"\f281"
}
.fa-edge:before{
  content:"\f282"
}
.fa-credit-card-alt:before{
  content:"\f283"
}
.fa-codiepie:before{
  content:"\f284"
}
.fa-modx:before{
  content:"\f285"
}
.fa-fort-awesome:before{
  content:"\f286"
}
.fa-usb:before{
  content:"\f287"
}
.fa-product-hunt:before{
  content:"\f288"
}
.fa-mixcloud:before{
  content:"\f289"
}
.fa-scribd:before{
  content:"\f28a"
}
.fa-pause-circle:before{
  content:"\f28b"
}
.fa-pause-circle-o:before{
  content:"\f28c"
}
.fa-stop-circle:before{
  content:"\f28d"
}
.fa-stop-circle-o:before{
  content:"\f28e"
}
.fa-shopping-bag:before{
  content:"\f290"
}
.fa-shopping-basket:before{
  content:"\f291"
}
.fa-hashtag:before{
  content:"\f292"
}
.fa-bluetooth:before{
  content:"\f293"
}
.fa-bluetooth-b:before{
  content:"\f294"
}
.fa-percent:before{
  content:"\f295"
}
.fa-gitlab:before{
  content:"\f296"
}
.fa-wpbeginner:before{
  content:"\f297"
}
.fa-wpforms:before{
  content:"\f298"
}
.fa-envira:before{
  content:"\f299"
}
.fa-universal-access:before{
  content:"\f29a"
}
.fa-wheelchair-alt:before{
  content:"\f29b"
}
.fa-question-circle-o:before{
  content:"\f29c"
}
.fa-blind:before{
  content:"\f29d"
}
.fa-audio-description:before{
  content:"\f29e"
}
.fa-volume-control-phone:before{
  content:"\f2a0"
}
.fa-braille:before{
  content:"\f2a1"
}
.fa-assistive-listening-systems:before{
  content:"\f2a2"
}
.fa-asl-interpreting:before,.fa-american-sign-language-interpreting:before{
  content:"\f2a3"
}
.fa-deafness:before,.fa-hard-of-hearing:before,.fa-deaf:before{
  content:"\f2a4"
}
.fa-glide:before{
  content:"\f2a5"
}
.fa-glide-g:before{
  content:"\f2a6"
}
.fa-signing:before,.fa-sign-language:before{
  content:"\f2a7"
}
.fa-low-vision:before{
  content:"\f2a8"
}
.fa-viadeo:before{
  content:"\f2a9"
}
.fa-viadeo-square:before{
  content:"\f2aa"
}
.fa-snapchat:before{
  content:"\f2ab"
}
.fa-snapchat-ghost:before{
  content:"\f2ac"
}
.fa-snapchat-square:before{
  content:"\f2ad"
}
.fa-pied-piper:before{
  content:"\f2ae"
}
.fa-first-order:before{
  content:"\f2b0"
}
.fa-yoast:before{
  content:"\f2b1"
}
.fa-themeisle:before{
  content:"\f2b2"
}
.fa-google-plus-circle:before,.fa-google-plus-official:before{
  content:"\f2b3"
}
.fa-fa:before,.fa-font-awesome:before{
  content:"\f2b4"
}
.fa-handshake-o:before{
  content:"\f2b5"
}
.fa-envelope-open:before{
  content:"\f2b6"
}
.fa-envelope-open-o:before{
  content:"\f2b7"
}
.fa-linode:before{
  content:"\f2b8"
}
.fa-address-book:before{
  content:"\f2b9"
}
.fa-address-book-o:before{
  content:"\f2ba"
}
.fa-vcard:before,.fa-address-card:before{
  content:"\f2bb"
}
.fa-vcard-o:before,.fa-address-card-o:before{
  content:"\f2bc"
}
.fa-user-circle:before{
  content:"\f2bd"
}
.fa-user-circle-o:before{
  content:"\f2be"
}
.fa-user-o:before{
  content:"\f2c0"
}
.fa-id-badge:before{
  content:"\f2c1"
}
.fa-drivers-license:before,.fa-id-card:before{
  content:"\f2c2"
}
.fa-drivers-license-o:before,.fa-id-card-o:before{
  content:"\f2c3"
}
.fa-quora:before{
  content:"\f2c4"
}
.fa-free-code-camp:before{
  content:"\f2c5"
}
.fa-telegram:before{
  content:"\f2c6"
}
.fa-thermometer-4:before,.fa-thermometer:before,.fa-thermometer-full:before{
  content:"\f2c7"
}
.fa-thermometer-3:before,.fa-thermometer-three-quarters:before{
  content:"\f2c8"
}
.fa-thermometer-2:before,.fa-thermometer-half:before{
  content:"\f2c9"
}
.fa-thermometer-1:before,.fa-thermometer-quarter:before{
  content:"\f2ca"
}
.fa-thermometer-0:before,.fa-thermometer-empty:before{
  content:"\f2cb"
}
.fa-shower:before{
  content:"\f2cc"
}
.fa-bathtub:before,.fa-s15:before,.fa-bath:before{
  content:"\f2cd"
}
.fa-podcast:before{
  content:"\f2ce"
}
.fa-window-maximize:before{
  content:"\f2d0"
}
.fa-window-minimize:before{
  content:"\f2d1"
}
.fa-window-restore:before{
  content:"\f2d2"
}
.fa-times-rectangle:before,.fa-window-close:before{
  content:"\f2d3"
}
.fa-times-rectangle-o:before,.fa-window-close-o:before{
  content:"\f2d4"
}
.fa-bandcamp:before{
  content:"\f2d5"
}
.fa-grav:before{
  content:"\f2d6"
}
.fa-etsy:before{
  content:"\f2d7"
}
.fa-imdb:before{
  content:"\f2d8"
}
.fa-ravelry:before{
  content:"\f2d9"
}
.fa-eercast:before{
  content:"\f2da"
}
.fa-microchip:before{
  content:"\f2db"
}
.fa-snowflake-o:before{
  content:"\f2dc"
}
.fa-superpowers:before{
  content:"\f2dd"
}
.fa-wpexplorer:before{
  content:"\f2de"
}
.fa-meetup:before{
  content:"\f2e0"
}
.sr-only{
  position:absolute;
  width:1px;
  height:1px;
  padding:0;
  margin:-1px;
  overflow:hidden;
  clip:rect(0, 0, 0, 0);
  border:0
}
.sr-only-focusable:active,.sr-only-focusable:focus{
  position:static;
  width:auto;
  height:auto;
  margin:0;
  overflow:visible;
  clip:auto
}
.desktop-pad-right{
  padding-right:30px;
  box-sizing:border-box
}
.desktop-pad-left{
  padding-left:30px;
  box-sizing:border-box
}
.desktop-space-right{
  margin-right:30px
}
.desktop-space-left{
  margin-left:30px
}
.space{
  margin:15px
}
.space-top{
  margin-top:15px
}
.space-right{
  margin-right:15px
}
.space-bottom{
  margin-bottom:15px
}
.space-left{
  margin-left:15px
}
.pad{
  padding:15px
}
.pad-top{
  padding-top:15px
}
.pad-right{
  padding-right:15px
}
.pad-bottom{
  padding-bottom:15px
}
.pad-left{
  padding-left:15px
}
.text-right{
  text-align:right
}
.text-left{
  text-align:left
}
.text-center{
  text-align:center
}
.pull-right{
  float:right
}
.pull-left{
  float:left
}
.pull-center{
  margin-left:auto;
  margin-right:auto
}
.mobile-only{
  display:none
}
@media (max-width: 767px){
  .mobile-only{
    display:block
  }
}
.desktop-only{
  display:block
}
@media (max-width: 767px){
  .desktop-only{
    display:none
  }
}
.hide{
  display:none
}
.clearfix:after{
  content:" ";
  visibility:hidden;
  display:block;
  height:0;
  clear:both
}
@media (max-width: 767px){
  .desktop-pad-right{
    padding-right:inherit
  }
  .desktop-pad-left{
    padding-left:inherit
  }
  .desktop-space-right{
    margin-right:inherit
  }
  .desktop-space-left{
    margin-left:inherit
  }
}
@media (max-width: 567px){
  .mobile-space{
    margin:15px
  }
  .mobile-space-top{
    margin-top:15px
  }
  .mobile-space-right{
    margin-right:15px
  }
  .mobile-space-bottom{
    margin-bottom:15px
  }
  .mobile-space-left{
    margin-left:15px
  }
  .mobile-pad{
    padding:15px
  }
  .mobile-pad-top{
    padding-top:15px
  }
  .mobile-pad-right{
    padding-right:15px
  }
  .mobile-pad-bottom{
    padding-bottom:15px
  }
  .mobile-pad-left{
    padding-left:15px
  }
}
.tooltipster-base{
  display:flex;
  pointer-events:none;
  position:absolute
}
.tooltipster-box{
  flex:1 1 auto
}
.tooltipster-content{
  box-sizing:border-box;
  max-height:100%;
  max-width:100%;
  overflow:auto
}
.tooltipster-ruler{
  bottom:0;
  left:0;
  overflow:hidden;
  position:fixed;
  right:0;
  top:0;
  visibility:hidden
}
.tooltipster-fade{
  opacity:0;
  -webkit-transition-property:opacity;
  -moz-transition-property:opacity;
  -o-transition-property:opacity;
  -ms-transition-property:opacity;
  transition-property:opacity
}
.tooltipster-fade.tooltipster-show{
  opacity:1
}
.tooltipster-grow{
  -webkit-transform:scale(0, 0);
  -moz-transform:scale(0, 0);
  -o-transform:scale(0, 0);
  -ms-transform:scale(0, 0);
  transform:scale(0, 0);
  -webkit-transition-property:-webkit-transform;
  -moz-transition-property:-moz-transform;
  -o-transition-property:-o-transform;
  -ms-transition-property:-ms-transform;
  transition-property:transform;
  -webkit-backface-visibility:hidden
}
.tooltipster-grow.tooltipster-show{
  -webkit-transform:scale(1, 1);
  -moz-transform:scale(1, 1);
  -o-transform:scale(1, 1);
  -ms-transform:scale(1, 1);
  transform:scale(1, 1);
  -webkit-transition-timing-function:cubic-bezier(0.175, 0.885, 0.32, 1);
  -webkit-transition-timing-function:cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -moz-transition-timing-function:cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -ms-transition-timing-function:cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -o-transition-timing-function:cubic-bezier(0.175, 0.885, 0.32, 1.15);
  transition-timing-function:cubic-bezier(0.175, 0.885, 0.32, 1.15)
}
.tooltipster-swing{
  opacity:0;
  -webkit-transform:rotateZ(4deg);
  -moz-transform:rotateZ(4deg);
  -o-transform:rotateZ(4deg);
  -ms-transform:rotateZ(4deg);
  transform:rotateZ(4deg);
  -webkit-transition-property:-webkit-transform, opacity;
  -moz-transition-property:-moz-transform;
  -o-transition-property:-o-transform;
  -ms-transition-property:-ms-transform;
  transition-property:transform
}
.tooltipster-swing.tooltipster-show{
  opacity:1;
  -webkit-transform:rotateZ(0deg);
  -moz-transform:rotateZ(0deg);
  -o-transform:rotateZ(0deg);
  -ms-transform:rotateZ(0deg);
  transform:rotateZ(0deg);
  -webkit-transition-timing-function:cubic-bezier(0.23, 0.635, 0.495, 1);
  -webkit-transition-timing-function:cubic-bezier(0.23, 0.635, 0.495, 2.4);
  -moz-transition-timing-function:cubic-bezier(0.23, 0.635, 0.495, 2.4);
  -ms-transition-timing-function:cubic-bezier(0.23, 0.635, 0.495, 2.4);
  -o-transition-timing-function:cubic-bezier(0.23, 0.635, 0.495, 2.4);
  transition-timing-function:cubic-bezier(0.23, 0.635, 0.495, 2.4)
}
.tooltipster-fall{
  -webkit-transition-property:top;
  -moz-transition-property:top;
  -o-transition-property:top;
  -ms-transition-property:top;
  transition-property:top;
  -webkit-transition-timing-function:cubic-bezier(0.175, 0.885, 0.32, 1);
  -webkit-transition-timing-function:cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -moz-transition-timing-function:cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -ms-transition-timing-function:cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -o-transition-timing-function:cubic-bezier(0.175, 0.885, 0.32, 1.15);
  transition-timing-function:cubic-bezier(0.175, 0.885, 0.32, 1.15)
}
.tooltipster-fall.tooltipster-initial{
  top:0 !important
}
.tooltipster-fall.tooltipster-dying{
  -webkit-transition-property:all;
  -moz-transition-property:all;
  -o-transition-property:all;
  -ms-transition-property:all;
  transition-property:all;
  top:0 !important;
  opacity:0
}
.tooltipster-slide{
  -webkit-transition-property:left;
  -moz-transition-property:left;
  -o-transition-property:left;
  -ms-transition-property:left;
  transition-property:left;
  -webkit-transition-timing-function:cubic-bezier(0.175, 0.885, 0.32, 1);
  -webkit-transition-timing-function:cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -moz-transition-timing-function:cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -ms-transition-timing-function:cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -o-transition-timing-function:cubic-bezier(0.175, 0.885, 0.32, 1.15);
  transition-timing-function:cubic-bezier(0.175, 0.885, 0.32, 1.15)
}
.tooltipster-slide.tooltipster-initial{
  left:-40px !important
}
.tooltipster-slide.tooltipster-dying{
  -webkit-transition-property:all;
  -moz-transition-property:all;
  -o-transition-property:all;
  -ms-transition-property:all;
  transition-property:all;
  left:0 !important;
  opacity:0
}
@keyframes tooltipster-fading{
  0%{
    opacity:0
  }
  100%{
    opacity:1
  }
}
.tooltipster-update-fade{
  animation:tooltipster-fading 400ms
}
@keyframes tooltipster-rotating{
  25%{
    transform:rotate(-2deg)
  }
  75%{
    transform:rotate(2deg)
  }
  100%{
    transform:rotate(0)
  }
}
.tooltipster-update-rotate{
  animation:tooltipster-rotating 600ms
}
@keyframes tooltipster-scaling{
  50%{
    transform:scale(1.1)
  }
  100%{
    transform:scale(1)
  }
}
.tooltipster-update-scale{
  animation:tooltipster-scaling 600ms
}
.tooltipster-sidetip .tooltipster-box{
  background:#565656;
  border:2px solid black;
  border-radius:4px
}
.tooltipster-sidetip.tooltipster-bottom .tooltipster-box{
  margin-top:8px
}
.tooltipster-sidetip.tooltipster-left .tooltipster-box{
  margin-right:8px
}
.tooltipster-sidetip.tooltipster-right .tooltipster-box{
  margin-left:8px
}
.tooltipster-sidetip.tooltipster-top .tooltipster-box{
  margin-bottom:8px
}
.tooltipster-sidetip .tooltipster-content{
  color:white;
  line-height:18px;
  padding:6px 14px
}
.tooltipster-sidetip .tooltipster-arrow{
  overflow:hidden;
  position:absolute
}
.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow{
  height:10px;
  margin-left:-10px;
  top:0;
  width:20px
}
.tooltipster-sidetip.tooltipster-left .tooltipster-arrow{
  height:20px;
  margin-top:-10px;
  right:0;
  top:0;
  width:10px
}
.tooltipster-sidetip.tooltipster-right .tooltipster-arrow{
  height:20px;
  margin-top:-10px;
  left:0;
  top:0;
  width:10px
}
.tooltipster-sidetip.tooltipster-top .tooltipster-arrow{
  bottom:0;
  height:10px;
  margin-left:-10px;
  width:20px
}
.tooltipster-sidetip .tooltipster-arrow-background,.tooltipster-sidetip .tooltipster-arrow-border{
  height:0;
  position:absolute;
  width:0
}
.tooltipster-sidetip .tooltipster-arrow-background{
  border:10px solid transparent
}
.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-background{
  border-bottom-color:#565656;
  left:0px;
  top:3px
}
.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-background{
  border-left-color:#565656;
  left:-3px;
  top:0px
}
.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-background{
  border-right-color:#565656;
  left:3px;
  top:0px
}
.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background{
  border-top-color:#565656;
  left:0px;
  top:-3px
}
.tooltipster-sidetip .tooltipster-arrow-border{
  border:10px solid transparent;
  left:0;
  top:0
}
.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border{
  border-bottom-color:black
}
.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-border{
  border-left-color:black
}
.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-border{
  border-right-color:black
}
.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border{
  border-top-color:black
}
.tooltipster-sidetip .tooltipster-arrow-uncropped{
  position:relative
}
.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-uncropped{
  top:-10px
}
.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-uncropped{
  left:-10px
}
.tooltipster{
  line-height:1.8em
}
/*@font-face{*/
  /*font-family:'Open Sans';*/
  /*font-weight:400;*/
  /*font-style:normal;*/
  /*src:url("assets/fonts/Open-Sans-regular/Open-Sans-regular.eot");*/
  /*src:url("assets/fonts/Open-Sans-regular/Open-Sans-regular.eot?#iefix") format("embedded-opentype"),local("Open Sans"),local("Open-Sans-regular"),url("assets/fonts/Open-Sans-regular/Open-Sans-regular.woff2") format("woff2"),url("assets/fonts/Open-Sans-regular/Open-Sans-regular.woff") format("woff"),url("assets/fonts/Open-Sans-regular/Open-Sans-regular.ttf") format("truetype"),url("assets/fonts/Open-Sans-regular/Open-Sans-regular.svg#OpenSans") format("svg")*/
/*}*/
/*@font-face{*/
  /*font-family:'Open Sans';*/
  /*font-weight:600;*/
  /*font-style:normal;*/
  /*src:url("assets/fonts/Open-Sans-600/Open-Sans-600.eot");*/
  /*src:url("assets/fonts/Open-Sans-600/Open-Sans-600.eot?#iefix") format("embedded-opentype"),local("Open Sans Semibold"),local("Open-Sans-600"),url("assets/fonts/Open-Sans-600/Open-Sans-600.woff2") format("woff2"),url("assets/fonts/Open-Sans-600/Open-Sans-600.woff") format("woff"),url("assets/fonts/Open-Sans-600/Open-Sans-600.ttf") format("truetype"),url("assets/fonts/Open-Sans-600/Open-Sans-600.svg#OpenSans") format("svg")*/
/*}*/
button,.button{
  padding:15px
}
.fa.space-left{
  margin-left:10px
}
.b-lazy{
  -webkit-transition:opacity 500ms ease-in-out;
  -moz-transition:opacity 500ms ease-in-out;
  -o-transition:opacity 500ms ease-in-out;
  transition:opacity 500ms ease-in-out;
  opacity:0
}
.b-lazy.b-loaded{
  opacity:1
}
.wrapper{
  max-width:1200px;
  margin-left:auto;
  margin-right:auto;
  padding-left:25px;
  padding-right:25px
}
.wrapper:after{
  content:" ";
  visibility:hidden;
  display:block;
  height:0;
  clear:both
}
.network-bar{
  height:32px;
  padding-top:2px;
  padding-bottom:2px;
  background-color:#2b3843
}
.network-bar .mgh-sites{
  position:relative;
  top:-13px;
  left:8px;
  cursor:pointer
}
.network-bar .mobile-network-logo{
  display:none
}
.network-bar span{
  color:#9da4ab;
  font-size:13px
}
.network-bar nav a{
  color:#cad1d8;
  text-decoration:none;
  padding:8px;
  display:inline-block;
  font-size:13px
}
.network-bar nav a:hover{
  color:#dbe2e9;
  text-decoration:none
}
.network-bar .wrapper{
  padding-left:10px;
  padding-right:10px
}
#google_translate_element{
  font-family:"Open Sans", sans-serif;
  position:relative;
  top:7px;
  margin-right:5px
}
#google_translate_element .goog-te-gadget-simple{
  background-color:transparent;
  border:none
}
.goog-te-menu-frame{
  top:48px !important
}
.goog-te-menu-value span{
  display:none
}
.goog-te-gadget-icon{
  background-image:url("assets/img/google-translate.png") !important
}
.goog-te-menu-value::before{
  content:"Language";
  color:#cad1d8;
  font-size:13px
}
.mobile-menu-icon-wrapper{
  position:absolute;
  left:20px;
  top:68px;
  height:26px;
  width:26px;
  cursor:pointer;
  z-index:11
}
.mobile-search-icon-wrapper{
  position:absolute;
  right:20px;
  top:65px;
  cursor:pointer;
  z-index:10;
  font-size:22px
}
.mobile-site-search{
  display:none;
  position:relative
}
.mobile-site-search input{
  width:100%;
  margin:0;
  padding:10px 20px;
  box-sizing:border-box;
  border:none;
  outline:none;
  border-radius:0
}
.mobile-site-search .mobile-search-clear{
  display:none;
  padding:9px;
  position:absolute;
  right:0;
  top:0;
  font-size:18px;
  cursor:pointer
}
.mobile-site-search .site-search-results{
  position:absolute;
  top:100%;
  width:100%;
  left:0;
  right:0
}
.mobile-menu-icon,.mobile-menu-icon:before,.mobile-menu-icon:after{
  content:'';
  position:absolute;
  border-radius:1em;
  height:2px;
  width:26px;
  transition:all 0.2s ease
}
.mobile-menu-icon{
  top:0.75em
}
.mobile-menu-icon:before{
  top:-0.55em
}
.mobile-menu-icon:after{
  top:0.55em
}
.mobile-menu-active .mobile-menu-icon{
  background:transparent;
  transform:rotate(-135deg)
}
.mobile-menu-active .mobile-menu-icon:before,.mobile-menu-active .mobile-menu-icon:after{
  top:0
}
.mobile-menu-active .mobile-menu-icon:before{
  transform:rotate(90deg)
}
.mobile-menu-active .logo img{
  position:absolute;
  z-index:20;
  left:50%;
  transform:translate(-50%)
}
.mobile-menu{
  transition:all 0.4s ease;
  opacity:0;
  pointer-events:none;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background-color:rgba(0,0,0,0.9);
  color:white;
  text-align:center;
  z-index:11
}
.mobile-menu-active .mobile-menu{
  opacity:1;
  pointer-events:initial
}
.mobile-menu .menu,.mobile-menu .menu ul{
  list-style:none;
  padding:0;
  margin:0
}
.mobile-menu .menu{
  margin-top:140px;
  margin-left:30px;
  margin-right:30px
}
.mobile-menu .menu a{
  text-decoration:none;
  text-transform:uppercase;
  height:60px;
  line-height:60px;
  display:block;
  border-bottom:1px solid white
}
.modal{
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding-top:50px;
  box-sizing:border-box;
  display:none;
  z-index:12
}
.modal .modal-body{
  padding-left:20px;
  padding-right:20px
}
.modal .close{
  position:fixed;
  top:25px;
  right:25px;
  cursor:pointer
}
.modal .close-icon{
  width:30px;
  height:30px;
  position:relative
}
.modal .close-icon:before,.modal .close-icon:after{
  position:absolute;
  top:9px;
  left:0px;
  content:'';
  display:block;
  width:30px;
  height:2px;
  background-color:white
}
.modal .close-icon:before{
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg)
}
.modal .close-icon:after{
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  -o-transform:rotate(-45deg);
  transform:rotate(-45deg)
}
#user-modal .content{
  max-width:340px;
  margin:0 auto
}
.site-search-results{
  position:absolute;
  right:0;
  width:350px;
  max-height:300px;
  overflow-y:auto;
  top:96px;
  background-color:white;
  box-sizing:border-box;
  display:none;
  z-index:10
}
.site-search-results .empty{
  text-align:center;
  padding:15px;
  color:#3a3a3a
}
.site-search-results .result{
  display:block;
  padding:10px 15px;
  border-bottom:1px solid #ebebeb;
  cursor:pointer;
  text-decoration:none;
  color:#3a3a3a
}
.site-search-results .result:hover{
  background-color:#fbfbfb
}
.site-bar{
  height:80px;
  padding-top:15px;
  padding-bottom:15px
}
.site-bar nav{
  position:relative;
  padding-right:35px
}
.site-bar nav .site-search{
  white-space:nowrap;
  position:absolute;
  right:0;
  top:20px;
  display:inline-block;
  cursor:pointer;
  z-index:10
}
.site-bar nav .site-search i{
  height:45px;
  line-height:45px;
  display:inline-block
}
.site-bar nav .site-search input{
  opacity:0;
  width:0;
  padding:6px;
  border:none;
  transition:all 0.3s ease
}
.site-bar nav .site-search input:focus{
  outline:none
}
.site-bar nav .site-search.show input{
  width:300px;
  opacity:1
}
.site-bar nav>div>ul{
  list-style:none;
  margin-top:30px
}
.site-bar nav ul li{
  position:relative;
  cursor:pointer;
  display:block;
  float:left;
  font-size:18px;
  text-transform:uppercase
}
.site-bar nav ul li a{
  text-decoration:none
}
.site-bar nav>div>ul>li>a{
  float:right;
  position:relative;
  padding:0 0 41px 0;
  margin:0 15px
}
.site-bar nav>div>ul>li.menu-item-has-children>a:after{
  font:normal normal normal 15px/1 FontAwesome;
  content:"\f107";
  display:inline-block;
  margin:5px 0 0 12px;
  vertical-align:top;
  color:inherit;
  transition:0s
}
.site-bar nav>div>ul>li>a:before{
  content:'';
  position:absolute;
  top:10px;
  left:0;
  width:100%;
  height:2px;
  transform:translateY(24px);
  opacity:0;
  transition:0.3s ease
}
.site-bar nav>div>ul>li:hover a:before,.site-bar nav>div>ul>li.current_page_ancestor>a:before,.site-bar nav>div>ul>li.current_page_item>a:before{
  opacity:1;
  transform:translateY(18px)
}
.site-bar nav>div>ul>li:last-child>a{
  margin-right:0
}
.site-bar nav li:hover>ul,.site-bar nav li:hover>ul{
  visibility:visible;
  transform:translateY(0);
  opacity:1;
  transition:0.3s ease
}
.site-bar nav>div>ul>li>ul{
  visibility:hidden;
  transform:translateY(-10px);
  opacity:0;
  position:absolute;
  top:65px;
  left:-20px;
  letter-spacing:1px;
  padding:25px 20px 25px 20px;
  z-index:10
}
.site-bar nav>div>ul>li>ul>li{
  padding:0 0 20px 0;
  display:block;
  margin-bottom:20px;
  width:100%
}
.site-bar nav>div>ul>li>ul>li:last-child{
  border-bottom:none;
  margin-bottom:0;
  padding-bottom:0
}
.site-bar nav>div>ul>li>ul>li>a{
  padding:5px 10px;
  white-space:nowrap
}
.site-bar nav>div>ul>li>ul>li>ul{
  padding:0
}
.site-bar nav>div>ul>li>ul>li>ul>li a{
  padding:15px 15px 0 25px;
  display:block;
  text-transform:none;
  font-size:15px
}
body,.pure-g,.pure-g [class*="pure-u"]{
  font-family:'Open Sans', sans-serif
}
.back-to-top{
  position:fixed;
  bottom:0;
  right:0;
  font-size:30px;
  padding:0 20px;
  z-index:11;
  height:40px;
  line-height:40px
}
.archive-pagination{
  text-align:center;
  margin-top:30px;
  margin-bottom:30px
}
.archive-pagination .page-numbers{
  cursor:pointer;
  display:inline-block;
  padding:5px 10px;
  margin:0 2px 0 0;
  line-height:1;
  text-decoration:none;
  border-radius:2px
}
.archive-pagination .page-numbers.current,.archive-pagination span.page-numbers{
  cursor:default
}
.site-content-page header{
  text-align:center
}
.site-content-page header.left{
  text-align:left
}
.site-content-page header .wrapper{
  padding-top:45px;
  padding-bottom:25px
}
.site-content-page header h1{
  margin-top:0
}
.site-content-page .content{
  padding-top:25px;
  padding-bottom:45px
}
.site-content-page .content p,.site-content-page .content blockquote,.site-content-page .content ul,.site-content-page .content ol,.site-content-page .content div{
  line-height:1.8em
}
.site-content-page .content button,.site-content-page .content .button{
  padding:10px;
  margin-bottom:15px;
  margin-top:5px;
  border:1px solid transparent;
  box-sizing:border-box;
  display:inline-block;
  vertical-align:top
}
.site-content-page h1,.site-content-page .h1{
  margin-top:0;
  margin-bottom:0;
  font-size:35px;
  letter-spacing:1px;
  font-weight:normal;
  text-transform:uppercase;
  font-weight:600
}
.site-content-page h2,.site-content-page .h2{
  text-transform:uppercase;
  font-size:28px
}
.site-content-page h3,.site-content-page .h3{
  text-transform:uppercase;
  font-size:22px;
  margin-top:45px;
  margin-bottom:15px
}
.site-content-page h4,.site-content-page .h4{
  margin-top:30px;
  margin-bottom:15px
}
.site-content-page hr{
  margin-top:25px;
  margin-bottom:35px
}
.wrapper.padded{
  padding-top:45px;
  padding-bottom:45px
}
.site-content{
  clear:both;
  float:none
}
.page-content{
  padding-top:55px;
  padding-bottom:55px
}
.page-content .intro{
  font-size:20px
}
.page-content a{
  text-decoration:none
}
.page-content a:hover{
  text-decoration:underline
}
.page-content img{
  max-width:100%;
  height:auto
}
.page-content hr{
  margin-top:25px;
  margin-bottom:35px
}
.page-content h1,.page-content .h1{
  margin-top:0;
  margin-bottom:0;
  font-size:32px;
  letter-spacing:1px;
  font-weight:normal;
  text-transform:uppercase;
  font-weight:600
}
.page-content h2,.page-content .h2{
  text-transform:uppercase;
  font-size:28px;
  text-align:center
}
.page-content h3,.page-content .h3{
  text-transform:uppercase;
  font-size:22px;
  text-align:center;
  margin-top:45px;
  margin-bottom:15px
}
.page-content h4,.page-content .h4{
  text-align:center;
  margin-top:30px;
  margin-bottom:15px
}
.page-content h5,.page-content .h5{
  text-align:center
}
.page-content header{
  text-align:center;
  max-width:700px;
  margin:0 auto;
  margin-bottom:50px;
  padding-left:25px;
  padding-right:25px
}
.page-content header p{
  font-size:14px;
  margin-top:8px
}
.page-content.type-page header{
  margin-bottom:40px;
  padding-bottom:20px
}
.page-content .featured-image{
  display:block;
  width:100%;
  margin-bottom:50px
}
.page-content .content{
  max-width:700px;
  margin:0 auto;
  padding-left:25px;
  padding-right:25px
}
.page-content .content p,.page-content .content blockquote,.page-content .content ul,.page-content .content ol,.page-content .content div{
  line-height:1.8em
}
.page-content .content>ul{
  padding:0;
  list-style:none
}
.page-content .content>ul>li{
  display:block;
  padding:10px 10px 10px 20px;
  margin-bottom:8px
}
.page-content .content>ul>li>ul{
  padding-left:20px;
  margin-top:15px
}
.page-content .content>ul>li>ul li{
  margin-bottom:6px
}
.search-result{
  margin-top:15px;
  padding-top:25px
}
.search-result .search-image{
  text-align:center
}
.search-result .search-image img{
  max-height:150px;
  max-width:100%
}
.search-result .search-content{
  padding-left:20px;
  box-sizing:border-box
}
.search-result .search-content .title{
  font-size:25px;
  margin-bottom:0
}
.search-result .search-content .meta{
  font-size:12px;
  margin-top:5px
}
.search-result .search-content .type{
  text-transform:uppercase;
  margin:0;
  font-size:14px
}
.search-result .search-content .description{
  font-size:13px
}
.page-sidebar{
  box-sizing:border-box;
  padding-left:65px
}
.page-sidebar .widget{
  margin-bottom:30px
}
.page-sidebar .widget .searchform:after{
  content:" ";
  visibility:hidden;
  display:block;
  height:0;
  clear:both
}
.page-sidebar .widget .searchform input[type=text]{
  margin:0;
  width:65%;
  display:inline-block;
  float:left;
  box-sizing:border-box;
  padding:8px;
  border:none
}
.page-sidebar .widget .searchform input[type=submit]{
  margin:0;
  width:35%;
  display:inline-block;
  float:right;
  box-sizing:border-box;
  padding:8px;
  border:none
}
.page-sidebar .widget .textwidget p{
  margin:0;
  padding:15px
}
.page-sidebar .widget:first-child{
  margin-top:0
}
.page-sidebar .widget a{
  text-transform:uppercase;
  text-decoration:none
}
.page-sidebar .widget>ul,.page-sidebar .widget>div>ul{
  padding:0;
  list-style:none;
  margin:0
}
.page-sidebar .widget>ul li,.page-sidebar .widget>div>ul li{
  width:100%;
  box-sizing:border-box;
  padding:15px
}
.page-sidebar .widget .header{
  padding:15px 20px;
  font-size:16px;
  font-weight:600;
  line-height:1;
  letter-spacing:1.2px;
  text-transform:uppercase;
  margin:0
}
.page-sidebar .post-widget{
  margin:0;
  position:relative;
  padding-left:86px
}
.page-sidebar .post-widget:after{
  content:" ";
  visibility:hidden;
  display:block;
  height:0;
  clear:both
}
.page-sidebar .post-widget p{
  margin-top:5px;
  font-size:12px
}
.page-sidebar .post-widget .thumbnail{
  position:absolute;
  left:0
}
.page-sidebar .post-widget a.title{
  display:inline-block;
  margin-top:5px;
  text-decoration:none;
  font-size:16px;
  display:block;
  text-transform:none
}
.page-sidebar .post-widget.first{
  position:static;
  padding-left:0
}
.page-sidebar .post-widget.first .thumbnail{
  position:static
}
.page-sidebar .post-widget.first .thumbnail img{
  max-width:100%
}
.site-pre-footer{
  padding-top:45px;
  padding-bottom:45px
}
.footer-widget{
  padding-left:65px;
  box-sizing:border-box
}
.footer-widget:first-child{
  padding-left:0
}
.footer-widget .header{
  text-transform:uppercase;
  font-size:18px
}
.footer-widget ul{
  list-style:none;
  padding:0
}
.footer-widget li a{
  text-decoration:none;
  font-size:16px;
  text-transform:uppercase;
  display:block;
  padding-bottom:20px;
  margin-bottom:20px
}
.footer-widget .post-widget{
  padding-bottom:20px;
  margin-bottom:20px
}
.footer-widget .post-widget p{
  margin-top:5px
}
.footer-widget .post-widget img{
  float:left;
  margin-right:20px
}
.footer-widget .post-widget a.title{
  display:inline-block;
  margin-top:5px;
  text-decoration:none;
  font-size:18px;
  display:block
}
.site-footer{
  padding-top:20px;
  padding-bottom:20px;
  font-size:12px
}
.site-footer a{
  text-decoration:none;
  margin-left:8px
}
.site-footer ul{
  padding:0;
  margin:0;
  list-style:none
}
.site-footer ul li{
  display:inline-block
}
.post-summary{
  padding:0;
  text-align:left;
  margin-bottom:20px;
  position:relative
}
.post-summary a:hover{
  text-decoration:none
}
.post-summary h2{
  text-align:left;
  margin-bottom:0;
  font-size:22px
}
.post-summary p{
  margin-top:7px;
  font-size:14px
}
.post-summary .details{
  box-sizing:border-box;
  padding-left:30px;
  padding-right:30px;
  display:flex;
  align-items:center
}
.post-summary img{
  display:block;
  max-width:100%
}
.post-summary .new{
  position:absolute;
  top:30px;
  right:0;
  background-color:#6abe45;
  color:white;
  padding:6px 12px;
  font-weight:bold;
  letter-spacing:1px
}
.post-summary .summary{
  padding:10px 30px 10px 30px
}
.social-links{
  position:fixed;
  left:0;
  top:50%;
  text-align:center;
  padding:0;
  transform:translateY(-50%);
  z-index:10
}
.social-links>span{
  display:block;
  background-color:transparent;
  padding:0;
  border:none;
  margin-right:0
}
.social-links .social-count{
  color:grey;
  background-color:white;
  margin-right:8px;
  line-height:11px;
  display:inline-block;
  vertical-align:bottom;
  text-align:center;
  display:inline-block;
  margin:0;
  width:40px;
  height:40px;
  box-sizing:border-box;
  padding-top:7px
}
.social-links .social-count span{
  font-size:20px;
  font-weight:bold;
  color:black
}
.social-links .social-count i{
  font-style:normal;
  font-size:8px;
  text-transform:uppercase
}
.social-links .social-count.zero{
  display:none
}
.social-links .social-link{
  color:white;
  text-decoration:none;
  display:inline-block;
  width:40px;
  height:40px;
  text-align:center;
  marging-right:15px;
  -webkit-transition:all 0.3s ease;
  -moz-transition:all 0.3s ease;
  -ms-transition:all 0.3s ease;
  -o-transition:all 0.3s ease;
  transition:all 0.3s ease;
  line-height:40px
}
.social-links .social-link:hover{
  color:white;
  transform:scale(1.1)
}
.social-links .facebook{
  background-color:#3b5998
}
.social-links .twitter{
  background-color:#55acee
}
.social-links .reddit{
  background-color:#ff5700
}
.social-links .google{
  background-color:#dd4b39
}
.social-links .pinterest{
  background-color:#cb2027
}
.social-links .email{
  background-color:#34465d
}
.cat-count{
  font-size:12px;
  display:inline-block;
  background-color:rgba(255,255,255,0.19);
  border-radius:8px;
  padding:0 5px
}
@media (max-width: 1279px){
  .social-links{
    position:fixed;
    transform:translateY(0);
    bottom:0;
    left:0;
    top:initial;
    z-index:10
  }
  .social-links>span{
    display:inline-block
  }
}
@media (max-width: 767px){
  .network-bar .mgh-sites{
    position:relative;
    top:-21px;
    left:5px;
    cursor:pointer
  }
  .alignright,a img.alignright{
    float:none;
    display:block;
    margin:0 auto;
    margin-bottom:15px
  }
  .wrapper{
    padding-left:15px;
    padding-right:15px
  }
  .site-bar{
    height:70px;
    padding-top:8px;
    padding-bottom:8px
  }
  .site-bar .logo{
    display:block;
    width:200px;
    text-align:center;
    margin:0 auto
  }
  .site-bar .logo img{
    max-width:100%;
    max-height:70px
  }
  .site-content-page h1,.site-content-page .h1{
    font-size:26px
  }
  .site-content-page header .wrapper{
    padding-top:15px
  }
  .goog-te-menu-value::before{
    content:"Lang"
  }
  .archive-pagination .page-numbers{
    display:none
  }
  .archive-pagination .prev,.archive-pagination .next{
    display:inline-block
  }
  .network-bar .network-logo{
    display:none
  }
  .network-bar nav a{
    padding:8px 5px
  }
  .network-bar .mobile-network-logo{
    display:inline-block;
    display:inline;
    position:relative;
    top:-4px
  }
  .page-sidebar{
    padding-left:0;
    margin-top:35px
  }
  .footer-widget{
    padding-left:0
  }
  .site-footer span{
    display:block;
    margin-bottom:20px
  }
  .site-footer nav{
    width:100%;
    text-align:center;
    float:none !important
  }
}
#disqus_thread{
  margin-top:25px
}
.archive-glossary{
  padding:15px;
  margin-bottom:25px
}
.archive-ui{
  text-align:center;
  margin-top:30px
}
.archive-ui .archive-ui-element{
  display:inline-block;
  margin-right:10px;
  margin-left:10px;
  margin-bottom:20px
}
.archive-ui .archive-ui-element.element-meta,.archive-ui .archive-ui-element.element-taxonomy,.archive-ui button,.archive-ui .toggle-btn{
  display:inline-block;
  padding:13px 20px 13px 20px;
  background-repeat:no-repeat;
  background-position:10px center;
  border:none;
  height:50px;
  box-sizing:border-box
}
.archive-ui .toggle-btn{
  margin:0;
  cursor:pointer
}
.archive-ui .label{
  display:inline-block;
  margin-right:10px;
  font-size:14px;
  text-transform:uppercase;
  opacity:.8
}
.archive-ui select{
  background:none;
  border:none
}
.archive-ui select option{
  color:black
}
.archive-ui #archive-search,.archive-ui .local-search{
  display:inline-block;
  padding:13px 25px 13px 25px;
  border:none;
  height:50px;
  box-sizing:border-box
}
@media (max-width: 767px){
  .archive-ui{
    text-align:left;
    margin-top:15px
  }
  .archive-ui .archive-ui-element{
    display:block;
    margin:0 0 5px 0
  }
  .archive-ui .archive-ui-element.element-meta,.archive-ui .archive-ui-element.element-taxonomy,.archive-ui button{
    display:block;
    padding:8px 15px 8px 15px;
    height:40px;
    box-sizing:border-box
  }
  .archive-ui .label{
    display:inline-block;
    margin:0;
    width:50%
  }
  .archive-ui select{
    box-sizing:border-box;
    width:50%;
    margin:0
  }
  .archive-ui #archive-search{
    padding:8px 15px 8px 15px;
    width:60%;
    height:40px
  }
  .archive-ui .local-search{
    width:100%;
    height:40px
  }
  .archive-ui .archive-ui-element.element-search button{
    width:40%;
    display:inline-block
  }
  .archive-ui .archive-ui-element.element-glossary button{
    display:block;
    width:100%
  }
  .archive-ui .element-toggle{
    display:flex
  }
  .archive-ui .element-toggle span{
    flex-grow:1;
    flex-basis:0;
    padding:13px 10px 0 10px;
    text-align:center
  }
}
.dataTables_wrapper{
  margin:20px 0 45px 0;
  clear:both
}
.dataTables_filter input{
  margin-left:10px;
  width:100px
}
.dataTables_wrapper table{
  margin:0
}
.dataTables_info{
  clear:both;
  float:left;
  font-size:12px;
  margin-top:4px
}
.paginate_button.previous{
  margin-right:10px;
  cursor:pointer
}
.paginate_button.next{
  cursor:pointer
}
.dataTables_paginate{
  float:right;
  margin:4px 0 0;
  font-size:12px
}
.dataTables_filter{
  float:right;
  margin-bottom:10px;
  text-transform:uppercase;
  font-size:12px
}
.dataTables_length{
  float:left;
  text-transform:uppercase;
  font-size:12px
}
table.tablepress caption{
  display:none
}
table{
  width:100%;
  background:transparent;
  border:none;
  border-collapse:collapse
}
table th{
  font-weight:bold;
  padding:10px 18px 10px 18px;
  margin:0;
  letter-spacing:0;
  text-align:left
}
table th:first-child{
  padding-left:20px
}
table tr{
  text-align:left;
  padding-left:20px;
  margin:0;
  letter-spacing:0
}
table td:first-child{
  padding-left:20px;
  border-left:0
}
table td{
  margin:0;
  padding:18px;
  text-align:left
}
table td.nopad{
  padding:0
}
table tr:last-child td{
  border-bottom:0
}
table tr th.sorting_asc,table tr th.sorting_desc,table tr th.sorting,table tr th.sortable{
  position:relative;
  padding-right:20px;
  cursor:pointer
}
table tr th.sorting_asc:after,table tr th.sorting_desc:after,table tr th.sorting:after,table tr th.sortable:after{
  position:absolute;
  font-family:FontAwesome;
  font-size:10px;
  font-weight:normal;
  text-rendering:auto;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  top:3px;
  bottom:0;
  left:auto;
  right:10px;
  margin:auto;
  height:14px;
  line-height:1
}
table tr th.sorting:after,table tr th.sortable:after{
  content:"\f0dc"
}
table tr th.sorting_asc:after,table tr th.sorting-asc:after{
  content:"\f0de";
  font-size:12px;
  top:7px
}
table tr th.sorting_desc:after,table tr th.sorting-desc:after{
  content:"\f0dd";
  font-size:12px;
  top:0
}
table.tier-list th,table.tier-list td{
  padding:8px
}
@media (max-width: 767px){
  table.tier-list,table.tier-list thead,table.tier-list tbody,table.tier-list th,table.tier-list td,table.tier-list tr{
    display:block
  }
  table.tier-list th{
    margin-bottom:5px
  }
  table.tier-list tr{
    display:block
  }
  table.tier-list thead.show{
    display:block
  }
  table.tier-list{
    position:relative
  }
  table.tier-list thead tr{
    padding:0
  }
  table.tier-list tr{
    position:relative;
    box-sizing:border-box;
    margin-left:0;
    margin-right:0;
    margin-bottom:20px;
    padding-top:25px;
    padding-bottom:0;
    padding-left:0
  }
  table.tier-list td{
    border:none;
    position:relative;
    padding-left:120px;
    padding-top:8px;
    font-size:12px;
    line-height:1.4em
  }
  table.tier-list td:before{
    position:absolute;
    top:6px;
    left:6px;
    width:35%;
    padding-right:10px;
    white-space:nowrap;
    font-size:12px
  }
}
@media (max-width: 767px){
  table:not(.non-responsive){
    display:block;
    clear:both
  }
  table:not(.non-responsive) thead{
    display:block;
    float:left
  }
  table:not(.non-responsive) thead th{
    width:auto !important;
    display:block;
    padding:18px
  }
  table:not(.non-responsive) thead tr{
    display:block;
    padding-left:0
  }
  table:not(.non-responsive) tbody{
    display:block;
    width:auto;
    position:relative;
    overflow-x:auto;
    white-space:nowrap;
    -webkit-overflow-scrolling:touch
  }
  table:not(.non-responsive) tbody tr{
    display:inline-block;
    vertical-align:top;
    padding-left:0
  }
  table:not(.non-responsive) tbody td{
    display:block
  }
}
